<ngx-spinner></ngx-spinner>
<section class="content">
  <button class="btn btn-success" (click)="reportResidente()" id="printReport"><i class="fa fa-print"></i></button>
  <div class="box box-editar" [@residenteAppeared]="residenteState">
    <h1>Detalhes do residente</h1>
    <hr><br>

    <div>
      <salv-infos-pessoais [residente]="residente"></salv-infos-pessoais>

      <div class="box box-default box-solid">
        <div class="box-header with-border">

          <h3 class="box-title">Familiares do {{residente?.PESSOA.NOME}}</h3>
          <div *ngIf="access" class="box-tools pull-right">

            <a type="submit" class="btn btn-success botao" data-toggle="modal" data-target="#modalFamiliar"
              style="color: white" *ngIf="familiares.length">Adicionar</a>

          </div>
        </div>
        <div class="box-body" style>
          <salv-infos-familiar *ngFor="let familiar of familiares" (atualizaFamiliar)="getFamiliar($event)"
            [(familiar)]="familiar"></salv-infos-familiar>

          <div *ngIf="!familiares.length" class="nao-possui-add">
            <p>Residente não possui familiares cadastrados</p>
            <div class="col-sm-12 col-xs-12">
              <button *ngIf="access" type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#modalFamiliar">
                Adicionar familiar
              </button>
            </div>
          </div>

        </div>
      </div>


      <div class="modal fade" id="modalFamiliar" tabindex="-1" role="dialog" aria-labelledby="modalFamiliar"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">

              <div>
                <div class="col-sm-12 col-sm-12" id="formTitle">
                  <h4 class="text-center"><strong>Adicionar Familiar</strong></h4>
                </div>
              </div>

              <form [formGroup]="familiarResidenteForm" novalidate>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-4 col-sm-12" id="inputValidator">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Nome">
                        <span class="text-danger">*</span>
                        <input type="text" class="form-control" formControlName="NOME" placeholder="Nome"
                          maxlength="100">
                      </salv-input-container>
                    </div>
                    <div class="col-sm-4 col-sm-12" id="inputValidator">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Sobrenome">
                        <span class="text-danger">*</span>
                        <input type="text" class="form-control" formControlName="SOBRENOME" placeholder="Sobrenome"
                          maxlength="100">
                      </salv-input-container>
                    </div>
                    <div class="col-sm-4 col-sm-12" id="inputValidator">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Parentesco">
                        <span class="text-danger">*</span>
                        <input type="text" class="form-control" formControlName="PARENTESCO" placeholder="Parentesco"
                          maxlength="50">
                      </salv-input-container>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECOS">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Rua">
                        <span class="text-danger">*</span>
                        <input type="text" class="form-control" formControlName="ENDERECO" placeholder="Rua"
                          maxlength="100">
                      </salv-input-container>
                    </div>
                    <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECOS">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Número">
                        <span class="text-danger">*</span>
                        <input type="text" mask="0*" class="form-control" formControlName="NUMERO" placeholder="Número"
                          maxlength="5">
                      </salv-input-container>
                    </div>
                    <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECOS">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Bairro">
                        <span class="text-danger">*</span>
                        <input type="text" class="form-control" formControlName="BAIRRO" placeholder="Bairro"
                          maxlength="50">
                      </salv-input-container>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECOS">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Cidade">
                        <span class="text-danger">*</span>
                        <input type="text" class="form-control" formControlName="CIDADE" placeholder="Cidade"
                          maxlength="50">
                      </salv-input-container>
                    </div>
                    <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECOS">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Estado">
                        <span class="text-danger">*</span>
                        <select class="form-control" formControlName="ESTADO">
                          <option [ngValue]="null">Selecione</option>
                          <option *ngFor="let estado of estados">{{estado}}</option>
                        </select>
                      </salv-input-container>
                    </div>
                    <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECOS">
                      <salv-input-container errorMessage="Campo Obrigatório" label="CEP">
                        <span class="text-danger">*</span>
                        <input type="text" mask="00.000-000" class="form-control" formControlName="CEP"
                          placeholder="CEP">
                      </salv-input-container>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-4 col-sm-12" formGroupName="ENDERECOS">
                      <label>Complemento </label>
                      <input type="text" class="form-control" formControlName="COMPLEMENTO" placeholder="Complemento">

                    </div>
                    <div class="col-sm-4 col-sm-12" formGroupName="ENDERECOS">
                      <label>Referência </label>
                      <input type="text" class="form-control" formControlName="REFERENCIA" placeholder="Referência"
                        maxlength="100">
                      <br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="row">
                      <div class="col-sm-3 col-sm-12" formGroupName="TELEFONE" style="margin-left: 5px;">
                        <salv-input-container errorMessage="Campo Obrigatório" label="DDD">
                          <input type="text" class="form-control" formControlName="DDD" placeholder="DDD" maxlength="2">
                        </salv-input-container>
                      </div>
                      <div class="col-sm-5 col-sm-12" formGroupName="TELEFONE">
                        <salv-input-container errorMessage="Campo Obrigatório" label="Telefone">
                          <input type="text" class="form-control" formControlName="NUMERO" mask="00000-0000"
                            placeholder="Número Telefone">
                        </salv-input-container>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" data-dismiss="modal"
                (click)="familiarResidente(familiarResidenteForm.value)"
                [disabled]="!familiarResidenteForm.valid">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="box box-default box-solid">
      <div class="box-header with-border">

        <h3 class="box-title">Convênios do {{residente?.PESSOA.NOME}}</h3>
        <div *ngIf="access" class="box-tools pull-right">
          <a type="submit" class="btn btn-success botao" data-toggle="modal" data-target="#modalConvenio"
            style="color: white" *ngIf="convenios.length">Adicionar</a>
        </div>
      </div>
      <div class="box-body" style>
        <salv-infos-convenio *ngFor="let convenio of convenios" (atualizaConvenio)="getConvenio($event)"
          [(convenio)]="convenio"></salv-infos-convenio>

        <div *ngIf="!convenios.length" class="nao-possui-add">
          <p>Residente não possui convênios cadastrados</p>
          <div class="col-sm-12 col-xs-12">
            <button *ngIf="access" type="button" class="btn btn-primary" data-toggle="modal"
              data-target="#modalConvenio">
              Adicionar convênio
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalConvenio" tabindex="-1" role="dialog" aria-labelledby="modalConvenio"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="col-sm-12 col-sm-12" id="formTitle">
              <h4 class="text-center"><strong>Adicionar Convênio</strong></h4>
            </div>

            <form role="form" [formGroup]="convenioResidenteForm">
              <div class="box-body">

                <div class="form-group">
                  <div class="col-sm-6 col-sm-12">
                    <salv-input-container errorMessage="Campo Obrigatório" label="Nome">
                      <span class="text-danger">*</span>
                      <select class="form-control" formControlName="CONVENIO_CODIGO">
                        <option [ngValue]="null">Selecione</option>
                        <option *ngFor="let convenio of residenteConvenios" [value]="convenio.CODIGO">
                          {{convenio.NOME_CONVENIO}}</option>
                      </select>
                    </salv-input-container>
                  </div>

                  <div class="col-sm-6 col-xs-12">
                    <salv-input-container errorMessage="Campo Obrigatório" label="Número do Convênio">
                      <span class="text-danger">*</span>
                      <input type="text" class="form-control" formControlName="NUMERO_CONVENIO"
                        placeholder="Nº de inscrição do convênio" autocomplete="off" maxlength="11">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-12 col-xs-12">
                    <br>
                  </div>

                  <div class="col-sm-6 col-xs-12">
                    <salv-input-container errorMessage="Campo Obrigatório" label="Titular do Convênio">
                      <span class="text-danger">*</span>
                      <input type="text" class="form-control" formControlName="TITULAR_CONVENIO"
                        placeholder="Nome do Titular" autocomplete="off" maxlength="100">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-6 col-xs-12" style="margin-top: 10px;">
                    <label>Parentesco titular</label>
                    <input type="text" class="form-control" formControlName="PARENTESCO_TITULAR"
                      placeholder="Parentesco Titular" autocomplete="off" maxlength="100">
                  </div>

                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" data-dismiss="modal"
              (click)="convenioResidente(convenioResidenteForm.value)"
              [disabled]="!convenioResidenteForm.valid">Salvar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="box box-default box-solid">
      <div class="box-header with-border">

        <h3 class="box-title">Benefícios do {{residente?.PESSOA.NOME}}</h3>
        <div *ngIf="access" class="box-tools pull-right">
          <button type="submit" class="btn btn-success" *ngIf="beneficios.length" data-toggle="modal"
            data-target="#modalBeneficio" style="color: white">Adicionar</button>
        </div>
      </div>
      <div class="box-body" style>
        <salv-infos-beneficios *ngFor="let beneficio of beneficios" (atualizaBeneficio)="getBeneficio($event)"
          [(beneficio)]="beneficio"></salv-infos-beneficios>

        <div *ngIf="!beneficios.length" class="nao-possui-add">
          <p>Residente não possui benefícios cadastrados</p>
          <div class="col-sm-12 col-xs-12">
            <button *ngIf="access" type="button" class="btn btn-primary" data-toggle="modal"
              data-target="#modalBeneficio">
              Adicionar benefício
            </button>
          </div>
        </div>

        <div class="col-sm-12">
          <button type="submit" class="btn btn-default pull-right botao" [routerLink]="['/residentes']">Voltar</button>
        </div>
      </div>
    </div>


    <div class="modal fade" id="modalBeneficio" tabindex="-1" role="dialog" aria-labelledby="modalBeneficio"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="col-sm-12 col-sm-12" id="formTitle">
              <h4 class="text-center"><strong>Adicionar benefício</strong></h4>
            </div>

            <form role="form" [formGroup]="beneficioResidenteForm">
              <div class="box-body">
                <div class="col-sm-6 col-xs-12" id="inputValidator">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Nome do Benefício">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" formControlName="NOME_BENEFICIO"
                      placeholder="Nome do Benefício" autocomplete="off" maxlength="100">
                  </salv-input-container>
                </div>

                <div class="col-sm-6 col-xs-12" style="margin-left: 10px;">
                  <label>Banco</label>
                  <input type="text" class="form-control" formControlName="BANCO_BENEFICIO" placeholder="Banco"
                    autocomplete="off" maxlength="50">
                </div>

                <div class="col-sm-12 col-xs-12">
                  <br>
                </div>

                <div class="col-sm-6 col-xs-12">
                  <label>Agência</label>
                  <input type="text" class="form-control" formControlName="AGENCIA_BENEFICIO" placeholder="Agência"
                    autocomplete="off" mask="0*" maxlength="50">
                </div>

                <div class="col-sm-6 col-xs-12">
                  <label>Conta</label>
                  <input type="text" class="form-control" formControlName="CONTA_BENEFICIO" placeholder="Conta"
                    autocomplete="off" mask="0*" maxlength="50">
                </div>

                <div class="col-sm-12 col-xs-12">
                  <br>
                </div>

                <div class="col-sm-6 col-xs-12">
                  <label>Valor</label>
                  <input type="text" class="form-control" formControlName="VALOR_BENEFICIO" currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" min="0" autocomplete="off"
                    maxlength="12" placeholder="R$ 0,00">
                </div>

                <div class="col-sm-6 col-xs-12" id="inputValidator">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Prova de Vida">
                    <span class="text-danger">*</span>
                    <input type="date" class="form-control pull-right" id="datepicker"
                      formControlName="PROVA_VIDA_BENEFICIO" max="2999-12-31">
                  </salv-input-container>
                </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" data-dismiss="modal"
              (click)="beneficioResidente(beneficioResidenteForm.value)"
              [disabled]="!beneficioResidenteForm.valid">Salvar</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>