<!-- Main content -->
<section class="content">
    <div>
        <!-- Conteudo NATHAN -->
        <div class="box">
            <h1 align="center">Adicionar funcionário</h1>
            <hr>

            <form role="form">
                <div class="box-body">
                    <div>
                        <div class="form-group">
                            <div class="col-sm-12 col-xs-12">
                                <h4>
                                    <strong>Informações pessoais</strong>
                                </h4>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label for="exampleInputPassword1">Nome </label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nome">
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label for="exampleInputPassword1">CPF </label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="CPF">
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label for="exampleInputPassword1">RG </label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="RG">
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <label for="exampleInputPassword1">Estado Civil </label>
                                <select class="form-control">
                                    <option>Solteiro</option>
                                    <option>Casado</option>
                                    <option>Separado</option>
                                    <option>Divorciado</option>
                                    <option>Viúvo</option>
                                </select>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <label for="exampleInputPassword1">Sexo </label>
                                <select class="form-control">
                                    <option>Masculino</option>
                                    <option>Feminino</option>
                                </select>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <label for="exampleInputPassword1">Religião </label>
                                <select class="form-control">
                                    <option>CAT - Católico</option>
                                    <option>EVG - Evangélico</option>
                                    <option>ESP - Esperíta</option>
                                    <option>UBC - Umbanda e Candomblé</option>
                                    <option>SRG - Sem religião</option>
                                    <option>OUT - Outras</option>
                                    <option>NEC - Não especificado</option>
                                </select>

                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <label for="exampleInputPassword1">Escolaridade </label>
                                <select class="form-control">
                                    <option>FC - Fundamental completo</option>
                                    <option>FI - Fundamental incompleto</option>
                                    <option>MC - Médio completo</option>
                                    <option>MI - Médio incompleto</option>
                                    <option>SC - Superior completo</option>
                                    <option>SI - Superior incompleto</option>
                                    <option>NE - Não especificado</option>
                                </select>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label for="exampleInputPassword1">Rua </label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Rua">
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <label for="exampleInputPassword1">Número </label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Número">
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label for="exampleInputPassword1">Bairro </label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Bairro">
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <label for="exampleInputPassword1">Cidade </label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cidade">
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <label for="exampleInputPassword1">Estado </label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Estado">
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <label for="exampleInputPassword1">CEP </label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="CEP">
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label for="exampleInputPassword1">Complemento </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Complemento">
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label for="exampleInputPassword1">Número Telefone </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Número telefone">

                            </div>
                            <div class="col-sm-2 col-xs-12" style="margin-top: 25px">
                                <a type="submit" class="btn btn-success botao" href="#">+</a>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label for="exampleInputPassword1">Referência </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Referência">
                                <br>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <label for="exampleInputPassword1">
                                <i class="fa fa-calendar"></i> Data de Nascimento </label>
                            <div class="input-group date">
                                <input type="date" class="form-control pull-right" id="datepicker">
                            </div>
                            <br>
                        </div>


                        <div class="col-sm-12 col-xs-12">

                            <salv-novo-dependente></salv-novo-dependente>

                        </div>

                        <div class="col-sm-12 col-xs-12">
                            <br>
                            <salv-nova-info-funcional></salv-nova-info-funcional>

                        </div>

                        <div class="col-sm-12 col-xs-12">
                            <a style="margin-left: 10px" type="submit" class="btn btn-success botao pull-right"
                                href="funcionarios-adicionar-infofuncionario.html">Salvar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>