<div class="col-md-12" *ngIf="familiar">
  <div class="col-sm-12 col-xs-12">
    <h4>
      <strong>Informações de {{familiar?.NOME}}</strong>
      <a class="input-remove icones-editar-excluir" (click)="deletarFamiliar(familiar?.CODIGO)">
          <i class="fa fa-close"></i></a>
        <a class="input-edit icones-editar-excluir" data-toggle="modal" (click)="editarFamiliar(familiar)"
          attr.data-target="#modalEditarFamiliar{{familiar?.CODIGO}}">
          <i class="fa fa-pencil"></i></a>
    </h4>
  </div>
  <div class="col-sm-12">
    <div class="col-xs-6 col-xs-12">
      <strong>Nome: </strong> {{familiar?.NOME}} {{familiar?.SOBRENOME}}
    </div>

    <div class="col-xs-6 col-xs-12">
      <strong>Parentesco: </strong> {{familiar?.PARENTESCO}}
    </div>
  </div>

  <div class="col-xs-12 col-xs-12">
    <div class="col-md-12" *ngIf="familiar">
      <div class="col-sm-12">
      <h4>
        <strong>Endereço</strong>
      </h4>
    </div>
    <div class="col-xs-12 col-xs-12">


      <div class="col-xs-4 col-xs-12">
        <strong>Endereço: </strong> {{familiar?.ENDERECO}}
      </div>

      <div class="col-xs-4 col-xs-12">
        <strong>Nº: </strong> {{familiar?.NUMERO}}
      </div>

      <div class="col-xs-4 col-xs-12">
        <strong>Bairro: </strong> {{familiar?.BAIRRO}}
      </div>

      <div class="col-xs-4 col-xs-12">
        <strong>Complemento: </strong> {{familiar?.COMPLEMENTO}}
      </div>

      <div class="col-xs-4 col-xs-12">
        <strong>Cidade: </strong> {{familiar?.CIDADE}}
      </div>

      <div class="col-xs-4 col-xs-12">
        <strong>Estado: </strong> {{familiar?.ESTADO}}
      </div>

      <div class="col-xs-4 col-xs-12">
        <strong>CEP: </strong> {{familiar?.CEP}}
      </div>

      <div class="col-xs-4 col-xs-12">
        <strong>Referência: </strong> {{familiar?.REFERENCIA}}
      </div>



      <!-- INICIO MODAL EDITAR FAMILIAR -->
      <div class="modal fade" id="modalEditarFamiliar{{familiar?.CODIGO}}" tabindex="-1" role="dialog"
        attr.aria-labelledby="modalEditarFamiliar{{familiar?.CODIGO}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">

              <div>
                <div class="col-sm-12 col-sm-12" id="formTitle">
                  <h4 class="text-center">
                    <strong>Editar Familiar {{familiar?.NOME}}</strong>
                  </h4>
                </div>
              </div>

              <form [formGroup]="familiarResidenteForm" novalidate>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-4 col-sm-12" id="inputValidator">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Nome">
                        <span class="text-danger">*</span>
                        <input type="text" class="form-control" formControlName="NOME" placeholder="Nome"
                          maxlength="100">
                      </salv-input-container>
                    </div>
                    <div class="col-sm-4 col-sm-12" id="inputValidator">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Sobrenome">
                        <span class="text-danger">*</span>
                        <input type="text" class="form-control" formControlName="SOBRENOME" placeholder="Sobrenome"
                          maxlength="100">
                      </salv-input-container>
                    </div>
                    <div class="col-sm-4 col-sm-12" id="inputValidator">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Parentesco">
                        <span class="text-danger">*</span>
                        <input type="text" class="form-control" formControlName="PARENTESCO" placeholder="Parentesco"
                          maxlength="50">
                      </salv-input-container>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECOS">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Rua">
                        <span class="text-danger">*</span>
                        <input type="text" class="form-control" formControlName="ENDERECO" placeholder="Rua"
                          maxlength="100">
                      </salv-input-container>
                    </div>
                    <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECOS">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Número">
                        <span class="text-danger">*</span>
                        <input type="text" mask="0*" class="form-control" formControlName="NUMERO" placeholder="Número"
                          maxlength="5">
                      </salv-input-container>
                    </div>
                    <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECOS">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Bairro">
                        <span class="text-danger">*</span>
                        <input type="text" class="form-control" formControlName="BAIRRO" placeholder="Bairro"
                          maxlength="50">
                      </salv-input-container>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECOS">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Cidade">
                        <span class="text-danger">*</span>
                        <input type="text" class="form-control" formControlName="CIDADE" placeholder="Cidade"
                          maxlength="50">
                      </salv-input-container>
                    </div>
                    <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECOS">
                      <salv-input-container errorMessage="Campo Obrigatório" label="Estado">
                        <span class="text-danger">*</span>
                        <select class="form-control" formControlName="ESTADO">
                          <option value="" label="Selecione" disabled selected="selected"></option>
                          <option *ngFor="let estado of estados">{{estado}}</option>
                        </select>
                      </salv-input-container>
                    </div>
                    <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECOS">
                      <salv-input-container errorMessage="Campo Obrigatório" label="CEP">
                        <span class="text-danger">*</span>
                        <input type="text" mask="00.000-000" class="form-control" formControlName="CEP"
                          placeholder="CEP">
                      </salv-input-container>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-4 col-sm-12" formGroupName="ENDERECOS">
                      <label>Complemento </label>
                      <input type="text" class="form-control" formControlName="COMPLEMENTO" placeholder="Complemento">

                    </div>
                    <div class="col-sm-4 col-sm-12" formGroupName="ENDERECOS">
                      <label>Referência </label>
                      <input type="text" class="form-control" formControlName="REFERENCIA" placeholder="Referência"
                        maxlength="100">
                      <br>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" data-dismiss="modal"
                (click)="familiarResidente(familiarResidenteForm.value)"
                [disabled]="!familiarResidenteForm.valid">Salvar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- FIM MODAL EDITAR FAMILIAR -->

      <!-- MODAL NOVO TELEFONE -->
      <div class="modal fade" id="modalNovoTelefone{{familiar?.CODIGO}}" tabindex="-1" role="dialog"
        attr.aria-labelledby="modalNovoTelefone{{familiar?.CODIGO}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <form [formGroup]="novoTelefoneForm" novalidate>
                <div class="box-body">
                  <div>
                    <div class="col-sm-12 col-sm-12">
                      <h4 class="text-center">
                        <strong>Adicionar novo telefone</strong>
                      </h4>
                    </div>
                    <div class="row">
                      <div class="col-sm-5 col-sm-12">
                        <salv-input-container errorMessage="Campo Obrigatório" label="DDD">
                          <span class="text-danger">*</span>
                          <input type="text" class="form-control" formControlName="DDD" placeholder="DDD"
                            autocomplete="off" mask="000">
                        </salv-input-container>
                      </div>
                      <div class="col-sm-7 col-sm-12">
                        <salv-input-container errorMessage="Campo Obrigatório" label="Número">
                          <span class="text-danger">*</span>
                          <input type="text" class="form-control" formControlName="NUMERO" placeholder="Número"
                            mask="00000-0000" autocomplete="off">
                        </salv-input-container>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success"
                (click)="novoTelefone(this.novoTelefoneForm.value, familiar?.CODIGO)"
                [disabled]="!novoTelefoneForm.valid" data-dismiss="modal">Salvar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- FIM MODAL NOVO TELEFONE -->

      <!-- MODAL EDITAR TELEFONE -->
      <div class="modal fade" id="modalEditarTelefone{{familiar?.CODIGO}}" tabindex="-1" role="dialog"
        attr.aria-labelledby="modalEditarTelefone{{familiar?.CODIGO}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <form [formGroup]="novoTelefoneForm" novalidate>
                <div class="box-body">
                  <div>
                    <div class="col-sm-12 col-sm-12">
                      <h4 class="text-center">
                        <strong>Editar telefone</strong>
                      </h4>
                    </div>
                    <div class="row">
                      <div class="col-sm-5 col-sm-12">
                        <salv-input-container errorMessage="Campo Obrigatório" label="DDD">
                          <span class="text-danger">*</span>
                          <input type="text" class="form-control" formControlName="DDD" placeholder="DDD"
                            autocomplete="off" mask="000">
                        </salv-input-container>
                      </div>
                      <div class="col-sm-7 col-sm-12">
                        <salv-input-container errorMessage="Campo Obrigatório" label="Número">
                          <span class="text-danger">*</span>
                          <input type="text" class="form-control" formControlName="NUMERO" placeholder="Número"
                            mask="00000-0000" autocomplete="off">
                        </salv-input-container>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" (click)="editarTelefone(this.novoTelefoneForm.value)"
                [disabled]="!novoTelefoneForm.valid" data-dismiss="modal">Salvar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- FIM MODAL EDITAR TELEFONE -->

    </div>
    <div class="col-sm-12 col-xs-12">
      <h4>
        <strong>Telefones </strong>
        <a class="icones-editar-excluir" type="submit" data-toggle="modal"
        attr.data-target="#modalNovoTelefone{{familiar?.CODIGO}}">
          <i class="fa fa-plus-circle" style="color: #00a65a;"></i>
        </a>
      </h4>
    </div>
    <div class="col-sm-12">
      <ng-container *ngIf="telefone.length; else elseTelefoneTemplate">
        <div class="col-xs-4 col-xs-12" *ngFor="let tel of telefone">
          <strong>Telefone: </strong> ({{tel?.TELEFONE.DDD}}) {{tel?.TELEFONE.NUMERO | telefone}}
          <a class="input-remove icones-editar-excluir" (click)="deletarTelefoneFamiliar(tel.TELEFONE.CODIGO, familiar?.CODIGO)">
            <span><i class="fa fa-close"></i></span>
          </a>
          <a class="input-edit icones-editar-excluir" data-toggle="modal" (click)="buscarTelefone(tel.TELEFONE.CODIGO)"
            attr.data-target="#modalEditarTelefone{{familiar?.CODIGO}}">
            <span><i class="fa fa-pencil"></i></span></a>
        </div>
      </ng-container>

      <ng-template #elseTelefoneTemplate>
        <div class="col-xs-4 col-xs-12">
          {{familiar?.NOME}} não possui telefone cadastrado. Adicione um clicando em +
        </div>
      </ng-template>


      <hr class="col-md-12">
    </div>
  </div>