<div class="col-sm-12 col-xs-12">
  <h4><strong>Informações pessoais</strong></h4>
</div>

<div class="col-xs-6 col-xs-12">
  <strong>Nome: </strong> {{familiar?.NOME}} {{familiar?.SOBRENOME}}<br>
</div>

<div class="col-xs-6 col-xs-12">
  <strong>Parentesco: </strong> {{familiar?.PARENTESCO}}<br>
</div>

<div class="col-xs-12 col-xs-12">
  <strong>Telefone: </strong> {{familiar?.DDD}} {{familiar?.TELEFONE}}
</div>

<div class="col-xs-4 col-xs-12">
  <strong>Endereço: </strong> {{familiar?.ENDERECO}}
</div>

<div class="col-xs-2 col-xs-12">
  <strong>Nº: </strong> {{familiar?.NUMERO}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Bairro: </strong> {{familiar?.BAIRRO}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Complemento: </strong> {{familiar?.COMPLEMENTO}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Cidade: </strong> {{familiar?.CIDADE}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Estado: </strong> {{familiar?.ESTADO}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>CEP: </strong> {{familiar?.CEP}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Referência: </strong> {{familiar?.REFERENCIA}}
</div>