<div class="col-sm-12 col-xs-12">
  <h4><strong>Informações pessoais</strong></h4>
</div>

<div class="col-xs-6 col-xs-12">
  <strong>Nome: </strong> {{familiar?.nome}} {{familiar?.sobrenome}}<br>
</div>

<div class="col-xs-6 col-xs-12">
  <strong>Parentesco: </strong> {{familiar?.parentesco}}<br>
</div>

<div class="col-xs-12 col-xs-12">
  <strong>Telefone: </strong> {{familiar?.ddd}} {{familiar?.telefone}}
</div>

<div class="col-xs-4 col-xs-12">
  <strong>Endereço: </strong> {{familiar?.endereco}}
</div>

<div class="col-xs-2 col-xs-12">
  <strong>Nº: </strong> {{familiar?.numero}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Bairro: </strong> {{familiar?.bairro}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Complemento: </strong> {{familiar?.complemento}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Cidade: </strong> {{familiar?.cidade}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Estado: </strong> {{familiar?.estado}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>CEP: </strong> {{familiar?.cep}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Referência: </strong> {{familiar?.referencia}}
</div>