<section class="content">
    <div class="box" [@funcionarioAppeared]="funcionarioState">
        <h1>Detalhes do Funcionário</h1>
        <hr><br>

        <div>
            <!--salv-infos-funcionarios-->

            <div class="box box-default box-solid">
                <div class="box-header with-border">

                    <h3 class="box-title">Dependentes</h3>
                    <div class="box-tools pull-right">
                        <a type="submit" class="btn btn-success" style="margin-right: 50px; color: white">Adicionar</a>

                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <!--salv-infos-dependentes *ngFor="let dependente of dependentes" [dependente]="dependente"-->
                </div>
            </div>
        </div>
    </div>
</section>