<!-- INÍCIO DO CONTEÚDO -->
<div class="row">

  <div class="login-logo">
    <img src="./../../../assets/img/dr.vida.png" Login>
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body">
    <p class="login-box-msg">Preencha seu e-mail para que possamos enviar a recuperação de senha</p>

    <form [formGroup]="forgetPasswordForm">
      <salv-input-container [showTip]=false>
        <input type="text" formControlName="EMAIL" class="form-control" placeholder="E-mail">
        <span class="glyphicon glyphicon-envelope form-control-feedback icon-log-input"></span>
      </salv-input-container>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" (click)="sendMail(forgetPasswordForm.value)" [disabled]="forgetPasswordForm.invalid"
            class="btn btn-success btn-block btn-flat">Enviar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
</div>
<!-- FIM DO CONTEÚDO -->