<section class="content">
  <div class="box box-default table-responsive no-padding">
    <div class="conteudo-sobre margin-sobre">
      <div class="imagem-sobre">
        <img src="./../../../assets/img/dr.vida.png">
      </div>
      <div class="texto-sobre">
        <h3 style="font-family: 'Source Sans Pro',sans-serif;">GRUPO DE PESQUISA EM ENGENHARIA DE SOFTWARE</h3>
        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo
          utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para
          fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a
          editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a
          Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado
          a softwares de editoração eletrônica como Aldus PageMaker.
          Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo
          utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para
          fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a
          editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a
        </p>
      </div>
    </div>

    <br>

    <div class="conteudo-sobre">
      <div class="imagem-sobre">
        <img src="./../../../assets/img/dr.vida.png">
      </div>
      <div class="texto-sobre">
        <h3 style="font-family: 'Source Sans Pro',sans-serif;">DOUTOR VIDA</h3>
        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo
          utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para
          fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a
          editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a
          Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado
          a softwares de editoração eletrônica como Aldus PageMaker.
          Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo
          utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para
          fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a
          editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a
        </p>
      </div>
    </div>

    <br>

    <div class="sobre-titulo-equipe">
      <h1>Equipe de desenvolvimento do sistema Doutor Vida</h1>
    </div>
    <div class="equipe">
      <div class="integrantes">
        <p><strong>Nome: </strong>Dr. Daniela Gibertoni</p>
      </div>
      <div class="integrantes">
        <p><strong>Nome: </strong>Hygor Podgornik</p>
        <p><strong>Curso: </strong>Análise e Desenvolvimento de Sistemas</p>
      </div>
      <div class="integrantes">
        <p><strong>Nome: </strong>Ian Bagliotti</p>
        <p><strong>Curso: </strong>Análise e Desenvolvimento de Sistemas</p>
      </div>
      <div class="integrantes">
        <p><strong>Nome: </strong>Juliano Anselmo</p>
        <p><strong>Curso: </strong>Análise e Desenvolvimento de Sistemas</p>
      </div>
      <div class="integrantes">
        <p><strong>Nome: </strong>Nathan Barsoti</p>
        <p><strong>Curso: </strong>Análise e Desenvolvimento de Sistemas</p>
      </div>
      <div class="integrantes">
        <p><strong>Nome: </strong>Kauê Alvarenga</p>
        <p><strong>Curso: </strong> Sistemas para Internet</p>
      </div>
    </div>

  </div>
</section>