<section class="content">
  <div class="box box-default table-responsive no-padding">
    <div class="conteudo-sobre margin-sobre">
      <div class="imagem-sobre">
        <img src="./../../../assets/img/dr.vida.png">
      </div>
      <div class="texto-sobre">
        <h3 style="font-family: 'Source Sans Pro',sans-serif;">GRUPO DE PESQUISA EM ENGENHARIA DE SOFTWARE</h3>
        <p>O GPES é um Grupo de Pesquisa em Engenharia de Software, com foco em pesquisas na área de Interação Humano-Computador, especificamente em usabilidade de software.  Seu início foi em fevereiro de 2011 tendo como primeira atividade o processo seletivo para inserção dos primeiros alunos interessados em atuar no grupo.
            É um grupo de iniciação científica da Faculdade de Tecnologia de Taquaritinga, com incentivo da Direção para o desenvolvimento de pesquisas que possam contribuir para o avanço regional e nacional.  
            Tem como objetivo principal pesquisar na área de Interação Humano-Computador e estabelecer parcerias com empresas para o desenvolvimento e a aplicação de tecnologias nas seguintes linhas de pesquisas:Interação Humano-Computador
            Avaliação de usabilidade
            Métodos, Técnicas e Ferramentas de Desenvolvimento de Software<br>
            Ganhou dois prêmios até aqui, sendo eles: I Siti - Simpósio de Tecnologia da Informação em São José do Rio Preto, I Simtec - Faculdade de Tecnologia de Taquaritinga - FATEC
        </p>
      </div>
    </div>

    <br>

    <div class="conteudo-sobre">
      <div class="imagem-sobre">
        <img src="./../../../assets/img/dr.vida.png">
      </div>
      <div class="texto-sobre">
        <h3 style="font-family: 'Source Sans Pro',sans-serif;">DOUTOR VIDA</h3>
        <p>O sistema Doutor Vida foi desenvolvido para o Lar São Vicente de Paula, que é uma instituição de Longa Permanência para Idosos (ILPI) mandatida pela Associação Senhor Bom Jesus,
          situada na cidade de Ibitinga-SP. O problema enfrentado pela instituição é o fato de que o sistema de gerenciamento usado até então ser muito complexo, e com isso os os funcionários
          da instituição deixaram de usar e voltaram a documentar a mão. A proposta sistêmica para o problema enfrentado pelo Lar são Vicente de Paula é o desenvolvimento de outro sistema, no
          qual não deve existir muita complexidade e ser de fácil manuseamento para o usuário, para que não ocorra o mesmo problema enfrentado anteriormente. Com a implementação do sistema,
          busca-se que o mesmo seja de fácil manejo para que seja utilizado e, consequentemente, facilitar o cotidiano dos funcionários que por lá trabalham. Além disso, espera-se que o sistema
          atenda todas as necessidades para a instituição. E assim que iniciou-se o projeto Doutor Vida. 
        </p>
      </div>
    </div>

    <br>

    <div class="sobre-titulo-equipe">
      <h1>Equipe de desenvolvimento do sistema Doutor Vida</h1>
    </div>
    <div class="equipe">
      <div class="integrantes">
        <p><strong>Nome: </strong>Dr. Daniela Gibertoni</p>
      </div>
      <div class="integrantes">
        <p><strong>Nome: </strong>Hygor Podgornik</p>
        <p><strong>Curso: </strong>Análise e Desenvolvimento de Sistemas</p>
      </div>
      <div class="integrantes">
        <p><strong>Nome: </strong>Ian Bagliotti</p>
        <p><strong>Curso: </strong>Análise e Desenvolvimento de Sistemas</p>
      </div>
      <div class="integrantes">
        <p><strong>Nome: </strong>Juliano Anselmo</p>
        <p><strong>Curso: </strong>Análise e Desenvolvimento de Sistemas</p>
      </div>
      <div class="integrantes">
        <p><strong>Nome: </strong>Nathan Barsoti</p>
        <p><strong>Curso: </strong>Análise e Desenvolvimento de Sistemas</p>
      </div>
      <div class="integrantes">
        <p><strong>Nome: </strong>Kauê Alvarenga</p>
        <p><strong>Curso: </strong> Sistemas para Internet</p>
      </div>
    </div>

  </div>
</section>