<ngx-spinner></ngx-spinner>
<section class="content">

  <div class="box" [@alterar-senhaAppeared]="alterarSenhaState">
    <h1>Alterar senha</h1>
    <hr>

    <form [formGroup]="alterarSenhaForm" novalidate>
      <div class="box-body">
        <div>
          <div class="form-group">
            <div class="col-sm-12 col-sm-12" id="formTitle">
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-12" id="inputValidator">
                <salv-input-container errorMessage="Campo Obrigatório" label="Senha atual">
                    <span class="text-danger">*</span>
                  <input type="text" class="form-control" formControlName="SENHA_ATUAL" placeholder="Senha Atual" autocomplete="off" maxlength="100">
                </salv-input-container>
              </div>
              <div class="col-sm-4 col-sm-12" id="inputValidator">
                <salv-input-container errorMessage="Campo Obrigatório" label="Nova senha" >
                    <span class="text-danger">*</span>
                  <input type="text" class="form-control" formControlName="NOVA_SENHA" placeholder="Nova Senha" autocomplete="off" max="100">
                </salv-input-container>
              </div>
              <div class="col-sm-4 col-sm-12" id="inputValidator">
                <salv-input-container errorMessage="Campo Obrigatório" label="Confirmar senha">
                    <span class="text-danger">*</span>
                  <input type="text" class="form-control" formControlName="NOVA_SENHA_CONFIRM" placeholder="Confirmar nova senha" autocomplete="off" maxlength="100">
                </salv-input-container>
              </div>
            </div>
            <br />
            <!--fim da row-->

            <div class="col-sm-12 col-sm-12">
              <button style="margin-left: 10px" class="btn btn-success botao pull-right" [disabled]="!alterarSenhaForm.valid">Atualizar senha</button>
              <button type="submit" class="btn btn-default botao pull-right" [routerLink]="['/home']">Voltar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>