<section class="content">

  <div class="box" [@familiar-residenteAppeared]="familiarresidenteState">
    <h1>Adicionar novo familiar</h1>
    <hr>

    <form [formGroup]="familiarResidenteForm" novalidate>
      <div class="box-body">
        <div>
          <div class="form-group">
            <div class="col-sm-12 col-sm-12" id="formTitle">
              <h4><strong>Informações do familiar</strong></h4>
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-12">
                <salv-input-container errorMessage="Campo Obrigatório" label="Nome">
                  <span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="NOME" placeholder="Nome" maxlength="100">
              </salv-input-container>
              </div>
              <div class="col-sm-4 col-sm-12">
                <salv-input-container errorMessage="Campo Obrigatório" label="Sobrenome">
                  <span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="SOBRENOME" placeholder="Sobrenome"
                  maxlength="100">
                </salv-input-container>
              </div>
              <div class="col-sm-4 col-sm-12">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Parentesco">
                      <span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="PARENTESCO" placeholder="Parentesco"
                  maxlength="50">
                </salv-input-container>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4 col-sm-12" formGroupName="ENDERECOS">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Rua">
                      <span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="ENDERECO" placeholder="Rua" maxlength="100">
              </salv-input-container>
              </div>
              <div class="col-sm-2 col-sm-12" formGroupName="ENDERECOS">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Número">
                      <span class="text-danger">*</span>
                <input type="text" mask="0*" class="form-control" formControlName="NUMERO" placeholder="Número"
                  maxlength="5">
                </salv-input-container>
              </div>
              <div class="col-sm-2 col-sm-12" formGroupName="ENDERECOS">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Bairro">
                      <span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="BAIRRO" placeholder="Bairro" maxlength="50">
              </salv-input-container>
              </div>
              <div class="col-sm-2 col-sm-12" formGroupName="ENDERECOS">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Cidade">
                      <span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="CIDADE" placeholder="Cidade" maxlength="50">
              </salv-input-container>
              </div>
              <div class="col-sm-2 col-sm-12" formGroupName="ENDERECOS">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Estado">
                      <span class="text-danger">*</span>
                <select class="form-control" formControlName="ESTADO">
                    <option [ngValue]="null">Selecione</option>
                  <option *ngFor="let estado of estados">{{estado}}</option>
                </select>
              </salv-input-container>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-3 col-sm-12" formGroupName="ENDERECOS">
                  <salv-input-container errorMessage="Campo Obrigatório" label="CEP">
                      <span class="text-danger">*</span>
                <input type="text" mask="00.000-000" class="form-control" formControlName="CEP" placeholder="CEP">
              </salv-input-container>
              </div>
              <div class="col-sm-3 col-sm-12" formGroupName="ENDERECOS">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Complemento">
                      <span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="COMPLEMENTO" placeholder="Complemento">
              </salv-input-container>
              </div>
              <div class="col-sm-6 col-sm-12" formGroupName="ENDERECOS">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Referência">
                      <span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="REFERENCIA" placeholder="Referência"
                  maxlength="100">
                </salv-input-container>
                <br>
              </div>
            </div>
            <div class="row">

              <div class="col-sm-12 col-sm-12">
                <label>Telefone </label>
              </div>

              <div class="col-sm-2 col-sm-12" formGroupName="TELEFONE">
                  <salv-input-container errorMessage="Campo Obrigatório" label="DDD">
                      <span class="text-danger">*</span>
                  <input type="text" class="form-control" formControlName="DDD" placeholder="DDD" mask="00"
                    maxlength="3">
                </salv-input-container>
              </div>
              <div class="col-sm-4 col-sm-12" formGroupName="TELEFONE">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Número">
                      <span class="text-danger">*</span>
                  <input type="text" class="form-control" formControlName="NUMERO" mask="00000-0000"
                    placeholder="Número Telefone">
                </salv-input-container>

              </div>

            </div>

            <div class="col-sm-12 col-sm-12">
              <a style="margin-left: 10px" (click)="familiarResidente(familiarResidenteForm.value)"
                class="btn btn-success botao pull-right">Próximo</a>
              <a type="submit" class="btn btn-default botao pull-right"
                (click)="voltarResidente(familiarResidenteForm.value)" [routerLink]="['/novo-residente']">Voltar</a>
            </div>

          </div>

        </div>

      </div>
    </form>
  </div>
</section>