<section class="content">

  <div class="box" [@editar-residenteAppeared]="editarresidenteState">
    <h1>Editar residente</h1>
    <hr>

    <form [formGroup]="novoResidenteForm" novalidate>
      <div class="box-body">
        <div>
          <div class="form-group">

            <!--INFORMAÇÕES PESSOAIS INICIO-->
            <div class="col-sm-12 col-sm-12" id="formTitle">
              <h4><strong>Informações pessoais</strong></h4>
            </div>
            <div class="row">
              <div class="col-sm-3 col-sm-12" id="inputValidator" formGroupName="PESSOA">
                <salv-input-container errorMessage="Campo Obrigatório" label="Nome">
                  <span class="text-danger">*</span>
                  <input type="text" class="form-control" formControlName="NOME" placeholder="Nome" autocomplete="off" maxlength="50">
                </salv-input-container>
              </div>
              <div class="col-sm-3 col-sm-12" id="inputValidator" formGroupName="PESSOA">
                <salv-input-container errorMessage="Campo Obrigatório" label="Sobrenome"> 
                  <span class="text-danger">*</span>
                  <input type="text" class="form-control" formControlName="SOBRENOME" placeholder="Sobrenome"
                    autocomplete="off" maxlength="50">
                </salv-input-container>
              </div>
              <div class="col-sm-3 col-sm-12">
                <label>Apelido </label>
                <input type="text" class="form-control" formControlName="APELIDO" placeholder="Apelido"
                  autocomplete="off" maxlength="50">
              </div>
              <div class="col-sm-3 col-sm-12">
                <label>Profissão </label>
                <input type="text" class="form-control" formControlName="PROFISSAO" placeholder="Profissão"
                  autocomplete="off" maxlength="100">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-3 col-sm-12" id="inputValidator" formGroupName="PESSOA">
                <salv-input-container errorMessage="Minimo 11 caracteres" label="CPF">
                  <input type="text" mask="000.000.000-00" class="form-control" formControlName="CPF" placeholder="CPF"
                    autocomplete="off">
                </salv-input-container>
              </div>
              <div class="col-sm-3 col-sm-12" id="inputValidator" formGroupName="PESSOA">
                <salv-input-container errorMessage="Minimo 9 caracteres" label="RG">
                  <input type="text" mask="00.000.000-0" class="form-control" formControlName="RG" placeholder="RG"
                    autocomplete="off">
                </salv-input-container>
              </div>
              <div class="col-sm-3 col-sm-12" formGroupName="PESSOA">
                <label>Estado Civil </label>
                <select class="form-control" formControlName="ESTADO_CIVIL">
                  <option value="" label="Selecione" disabled selected="selected"></option>
                  <option *ngFor="let estadoCivil of estadosCivil" [value]="estadoCivil.value">{{estadoCivil.option}}
                  </option>
                </select>
              </div>
              <div class="col-sm-3 col-sm-12" id="inputValidator" formGroupName="PESSOA">
                <salv-input-container errorMessage="Campo Obrigatório" label="Sexo">
                  <span class="text-danger">*</span>
                  <select class="form-control" formControlName="SEXO">
                    <option value="" label="Selecione" disabled selected="selected"></option>
                    <option *ngFor="let sexo of sexos" [value]="sexo.value">{{sexo.option}}</option>
                  </select>
                </salv-input-container>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-sm-4 col-sm-12" formGroupName="PESSOA">
                <label>Religião </label>
                <select class="form-control" formControlName="RELIGIAO">
                  <option value="" label="Selecione" disabled selected="selected"></option>
                  <option *ngFor="let religiao of religioes" [value]="religiao.value">{{religiao.option}}</option>
                </select>
              </div>
              <div class="col-sm-4 col-sm-12" formGroupName="PESSOA">
                <label>Escolaridade </label>
                <select class="form-control" formControlName="ESCOLARIDADE">
                  <option value="" label="Selecione" disabled selected="selected"></option>
                  <option *ngFor="let escolaridade of escolaridades" [value]="escolaridade.value">
                    {{escolaridade.option}}</option>
                </select>
              </div>
              <div class="col-sm-4 col-sm-12" formGroupName="PESSOA">
                <label>Data de Nascimento </label>
                <div class="input-group date">
                  <input type="date" class="form-control pull-right" id="datepicker" formControlName="DATA_NASCIMENTO">
                </div>
                <br>
              </div>
            </div>
            <hr>
            <!--INFORMAÇÕES PESSOAIS FINAL-->

            <!--CERTIDÃO DE NASCIMENTO INICIO-->
            <div class="col-sm-12 col-sm-12" id="formTitle">
              <h4><strong>Certidão de Nascimento </strong></h4>
            </div>

            <div class="row">
              <div class="col-sm-4 col-sm-12">
                <label>Número </label>
                <input type="text" mask="0*" class="form-control" formControlName="NUMERO_CERTIDAO_NASCIMENTO"
                  placeholder="Número" autocomplete="off" maxlength="5">
              </div>
              <div class="col-sm-4 col-sm-12">
                <label>Folha </label>
                <input type="text" class="form-control" formControlName="FOLHA_CERTIDAO_NASCIMENTO" placeholder="Folha"
                  autocomplete="off" maxlength="5">
              </div>
              <div class="col-sm-4 col-sm-12">
                <label>Livro </label>
                <input type="text" class="form-control" formControlName="LIVRO_CERTIDAO_NASCIMENTO" placeholder="Livro"
                  autocomplete="off" maxlength="3">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-3 col-sm-12">
                <label>Cidade </label>
                <input type="text" class="form-control" formControlName="CIDADE_CERTIDAO_NASCIMENTO"
                  placeholder="Cidade" autocomplete="off" maxlength="50">
              </div>
              <div class="col-sm-2 col-sm-12">
                <label>Estado </label>
                <select class="form-control" formControlName="ESTADO_CERTIDAO_NASCIMENTO">
                  <option value="" label="Selecione" disabled selected="selected"></option>
                  <option *ngFor="let estado of estados">{{estado}}</option>
                </select>
                <br>
              </div>
            </div>
            <hr>
            <!--CERTIDÃO DE NASCIMENTO FINAL-->

            <!--SEÇÃO ELEITORAL INICIO-->
            <div class="col-sm-12 col-sm-12" id="formTitle">
              <h4><strong>Eleitoral</strong></h4>
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-12">
                <label>Título </label>
                <input type="text" class="form-control" formControlName="TITULO_ELEITORAL" placeholder="Título"
                  autocomplete="off" maxlength="12">
              </div>
              <div class="col-sm-4 col-sm-12">
                <label>Zona </label>
                <input type="text" class="form-control" formControlName="ZONA_ELEITORAL" placeholder="Zona"
                  autocomplete="off" maxlength="3">
              </div>
              <div class="col-sm-4 col-sm-12">
                <label>Seção </label>
                <input type="text" class="form-control" formControlName="SECAO_ELEITORAL" placeholder="Seção"
                  autocomplete="off" maxlength="3">
                <br>
              </div>
            </div>
            <hr>
            <!--SEÇÃO ELEITORAL FINAL-->

            <!--INSS INICIO-->
            <div class="col-sm-12 col-sm-12" id="formTitle">
              <h4><strong>INSS </strong></h4>
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-12">
                <label for="exampleInputPassword1">Número </label>
                <input type="text" mask="0*" class="form-control" formControlName="NUMERO_INSS" placeholder="Número"
                  autocomplete="off" maxlength="11">
              </div>
              <div class="col-sm-3 col-sm-12">
                <label for="exampleInputPassword1">Banco </label>
                <input type="text" class="form-control" formControlName="BANCO_INSS" placeholder="Banco"
                  autocomplete="off" maxlength="50">
              </div>
              <div class="col-sm-2 col-smm-12">
                <label for="exampleInputPassword1">Agência </label>
                <input type="text" class="form-control" formControlName="AGENCIA_INSS" placeholder="Agência"
                  autocomplete="off" maxlength="50">
              </div>
              <div class="col-sm-3 col-sm-12">
                <label for="exampleInputPassword1">Conta </label>
                <input type="text" class="form-control" formControlName="CONTA_INSS" placeholder="Conta"
                  autocomplete="off" maxlength="50">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4 col-sm-12">
                <label for="exampleInputPassword1">Situação </label>
                <select class="form-control" formControlName="SITUACAO_INSS">
                  <option value="" label="Selecione" disabled selected="selected"></option>
                  <option *ngFor="let situacao of situacoesInss" [value]="situacao.value">{{situacao.option}}</option>
                </select>
              </div>
              <div class="col-sm-3 col-sm-12">
                <label for="exampleInputPassword1">Valor </label>
                <input type="text" prefix="R$ " mask="0*,00" class="form-control" formControlName="VALOR_INSS" placeholder="Valor"
                  autocomplete="off" maxlength="12" placeholder="R$ 0,00">
              </div>
              <div class="col-sm-3 col-sm-12">
                <label>Prova de vida </label>
                <div class="input-group date">
                  <input type="date" class="form-control pull-right" id="datepicker" formControlName="PROVA_VIDA_INSS">
                </div>
                <br>
              </div>
            </div>
            <hr>
            <!--INSS FINAL-->

            <!--OUTROS INICIO-->
            <div class="col-sm-12 col-sm-12" id="formTitle">
              <h4><strong>Outros </strong></h4>
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-12">
                <label for="exampleInputPassword1">Cartão SAMS </label>
                <input type="text" class="form-control" formControlName="CARTAO_SAMS"
                  placeholder="Número do Cartão SAMS" maxlength="16">
              </div>
              <div class="col-sm-4 col-sm-12">
                <label for="exampleInputPassword1">Cartão SUS </label>
                <input type="text" class="form-control" formControlName="CARTAO_SUS" placeholder="Número do Cartão SUS" maxlength="50">
              </div>
              <div class="col-sm-3 col-sm-12" id="inputValidator">
                <salv-input-container errorMessage="Campo Obrigatório" label="Data de Acolhimento">
                  <span class="text-danger">*</span>
                  <div class="input-group date">
                    <input type="date" class="form-control pull-right" id="datepicker"
                      formControlName="DATA_ACOLHIMENTO">
                  </div>
                </salv-input-container>
                <br>
              </div>
            </div>
          </div>
          <!--OUTROS FINAL-->
          <!--BOTÃO-->
          <div class="col-sm-12 col-sm-12">
            <button (click)="novoResidente(novoResidenteForm.value)" style="margin-left: 10px"
              class="btn btn-success botao pull-right" >Finalizar atualização</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</section>