<section class="content">

  <div class="box">
    <h1>Detalhes acompanhamento</h1>
    <hr><br>

    <div>
      <div class="box box-default box-solid">
        <div class="box-header with-border">

          <h3 class="box-title">Informações do acompanhamento</h3>
          <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus">

              </i>
            </button>
          </div>
        </div>
        <div class="box-body" style>
          <strong>Atividade realizada: </strong> Atividade no parque <br>
          <strong>Data: </strong> 25/11/2018 <br>
          <strong>Funcionário: </strong> Dr(a) Camila <br>
          <strong>Residentes participantes: </strong> João Cancelo, Sérgio Reis, Cássio Ramos <br>
        </div>
      </div>


      <div>

        <div class="botao">
          <a type="submit" class="btn btn-default botao" href="visualizacaoAcompanhamento.html">Voltar</a>
        </div>
      </div>

    </div>
  </div>

  <!-- /.row -->
</section>