<section class="content">
    <div>
        
        <div class="box">
            <h1 align="center">Adicionar convênio</h1>
            <hr>

            <form role="form">
                <div class="box-body">

                        <div class="col-sm-12 col-xs-12">
                            <h4><strong>Informações do convênio</strong></h4>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-xs-12">
                                <label for="exampleInputPassword1">Nome </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Nome">
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label for="exampleInputPassword1">Tipo do convênio </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Tipo do convênio">
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label for="exampleInputPassword1">Rua </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Rua">
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <label for="exampleInputPassword1">Número </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Número">
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label for="exampleInputPassword1">Bairro </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Bairro">
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <label for="exampleInputPassword1">Cidade </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Cidade">
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <label for="exampleInputPassword1">Estado </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Estado">
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <label for="exampleInputPassword1">CEP </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="CEP">
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label for="exampleInputPassword1">Complemento </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Complemento">
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label for="exampleInputPassword1">Número telefone </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Número telefone">
                            </div>
                            <div class="col-sm-2 col-xs-12" style="margin-top: 25px">
                                <a type="submit" class="btn btn-success botao" href="#">+</a>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label for="exampleInputPassword1">Referência </label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Referência">
                                <br>
                            </div>

                        </div>

                        
                        <div class="col-sm-12 col-xs-12">
                            <button (click)="convenioResidente(convenioResidenteForm.value)" style="margin-left: 10px" class="btn btn-success botao pull-right" [routerLink]="['/residentes']">Salvar</button>
                            <button type="submit" class="btn btn-default botao pull-right" [routerLink]="['/convenio-residente']">Voltar</button>
                        </div>
                </div>
            </form>
        </div>
    </div>

</section>