<!-- Main content -->
<section class="content">
    <button (click)="downloadPDF()" class="btn btn-success" id="printReport"><i class="fa fa-print"></i></button>
    <div id="content" #reportFuncionarios>
        <div>
            <div class="form-group">
                <a type="submit" class="btn btn-primary" [routerLink]="['/novo-funcionario']">Novo funcionário</a>
            </div>
            <div class="box box-default table-responsive no-padding" [@funcionariosAppeared]="funcionariosState">
                <h1 align="center">Visualização geral dos funcionários</h1>
                <br>
                <table class="table table-hover">
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>RG</th>
                        <th style="width: 350px">Ações</th>
                    </tr>
                    <tr *ngFor="let funcionario of funcionarios">
                        <td>{{funcionario.FUNCIONARIO_NOME}} {{funcionario.FUNCIONARIO_SOBRENOME}}</td>
                        <td>{{funcionario.CPF | cpf}}</td>
                        <td>{{funcionario.RG | rg}}</td>
                        <td>
                            <button type="submit" class="btn btn-danger botao"
                                (click)="deleteFuncionario(funcionario.CODIGO); $event.stopPropagation()">Inativar</button>
                            <a type="submit" class="btn btn-warning botao"
                                [routerLink]="['/editar-funcionario', funcionario.CODIGO]">Editar</a>
                            <a type="submit" class="btn btn-success botao"
                                [routerLink]="['/funcionario',funcionario.CODIGO]">+ Informações</a>
                        </td>
                    </tr>
                </table>
                <!-- Fim da tabela  -->
            </div>

        </div>
        <!-- /.row -->
    </div>
</section>
<!-- /.content -->