<ngx-spinner></ngx-spinner>
<style>
    .my-pagination /deep/ .ngx-pagination .current {
        background: #00AE5D;


    }
</style>

<!-- Main content -->
<section class="content">    
    <button class="btn btn-success" id="printReport"><i class="fa fa-print"></i></button>
    <div>
        <div class="form-group">
            <a type="submit" class="btn btn-primary" [routerLink]="['/novo-funcionario']">Novo funcionário</a>
        </div>

        <div class="box box-default table-responsive no-padding" [@funcionariosAppeared]="funcionariosState">
            <h1 align="center">Visualização geral dos funcionários</h1>

                   
        <a class="dropdown btn btn-success pull-right" style="float:right; margin-right: 1cm;">

                <a href="#" class="dropdown-toggle pull-left" data-toggle="dropdown">Filtrar<span class="caret"></span></a>

                 <!--MENU DA DROPDOWN-->
                <ul class="dropdown-menu" role="menu" style="color:black">

                     <!--FILTRO POR NOME-->
                            <div class="input-group">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                                <input input class="form-control" placeholder="Pesquisa por nome" type="text" name="search" [(ngModel)]="filter">
                            </div>
                           
                      <!--FILTRO INATIVOS-->
                      <li class="divider"></li>                     
                      <input type="checkbox" id="Desativados" [(ngModel)]="Desativados" ng-true-value = "YES" ng-false-value="NO" (click)="funcionariosInativoss()"> Funcionários Desativados  
                      <br>
                      

                </ul>
            </a>
            <br>

               <!--FUNCIONARIO ATIVOS-->
      <div ng [hidden]="Desativados">
            <table class="table table-hover">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>RG</th>
                    <th class="col-sm-4">Ações</th>
                </tr>              


                <tr  *ngFor="let funcionario of funcionarios | filter : filter : searchString |  paginate: { itemsPerPage: 10, currentPage: paginaAtual} let i = index">
                    <td>{{funcionario.FUNCIONARIO_NOME}} {{funcionario.FUNCIONARIO_SOBRENOME}}</td>
                    <td>{{funcionario.CPF | cpf}}</td>
                    <td>{{funcionario.RG | rg}}</td>
                    <td>
                        <button type="submit" class="btn btn-danger botao"
                            (click)="deleteFuncionario(funcionario.CODIGO); $event.stopPropagation()">Inativar</button>
                        <!-- <a type="submit" class="btn btn-warning botao"
                            [routerLink]="['/editar-funcionario', funcionario.CODIGO]">Editar</a> -->
                        <a type="submit" class="btn btn-success botao"
                            [routerLink]="['/funcionario',funcionario.CODIGO]">+ Opções</a>
                    </td>
                </tr>
            </table>
            <pagination-controls class="my-pagination " (pageChange)="paginaAtual = $event" previousLabel="Anterior"
                nextLabel="Próximo" screenReaderPaginationLabel="Paginação" screenReaderPageLabel="Página"
                screenReaderCurrentLabel="Voce esta na página"></pagination-controls>
            </div>

            <input class="form-control" style="max-width: 500px" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Pesquisar">
            <br>
            <div class="box box-default table-responsive no-padding" [@funcionariosAppeared]="funcionariosState">
                <h1 align="center">Visualização geral dos funcionários</h1>
                <br>
                <table class="table table-hover">
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>RG</th>
                        <th class="col-sm-4">Ações</th>
                    </tr>
                    <tr *ngFor="let funcionario of funcionarios | paginate: { itemsPerPage: 10, currentPage: paginaAtual } | filter:searchText">
                        <td>{{funcionario.FUNCIONARIO_NOME}} {{funcionario.FUNCIONARIO_SOBRENOME}}</td>

            <!--FUNCIONARIO INATIVOS-->
            <div ng [hidden]="!Desativados"> 
                 <table class="table table-hover">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>RG</th>
                    <th class="col-sm-4">Ações</th>
                </tr>              

                <tr  *ngFor="let funcionario of funcionariosInativos | filter : filter : searchString  let i = index">
                        <td>{{funcionario.FUNCIONARIO_NOME}} {{funcionarios.FUNCIONARIO_SOBRENOME}}</td>
                        <td>{{funcionario.CPF | cpf}}</td>
                        <td>{{funcionario.RG | rg}}</td>
                        <td>
                            
                            <!-- <a type="submit" class="btn btn-warning botao"
                                [routerLink]="['/editar-funcionario', funcionario.CODIGO]">Editar</a> -->
                            <a type="submit" class="btn btn-success botao"
                                [routerLink]="['/funcionario',funcionario.CODIGO]">+ Opções</a>
                        </td>
                    </tr>
                
            </table>
           
        </div>
            
       </div>
    </div>
</section>

        

