<section class="content">

  <!-- Conteudo NATHAN -->
  <div class="box">
    <h1>Adicionar residente</h1>
    <hr>

    <form role="form">
      <div class="box-body">
        <div>
          <div class="form-group">
            <div class="col-sm-12 col-xs-12" style="margin-left: -16px">
              <h4><strong>Informações pessoais</strong></h4>
            </div>
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <label for="exampleInputPassword1">Nome </label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nome">
              </div>
              <div class="col-sm-4 col-xs-12">
                <label for="exampleInputPassword1">Apelido </label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Apelido">
              </div>
              <div class="col-sm-4 col-xs-12">
                <label for="exampleInputPassword1">Profissão </label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Profissão">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <label for="exampleInputPassword1">CPF </label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="CPF">
              </div>
              <div class="col-sm-4 col-xs-12">
                <label for="exampleInputPassword1">RG </label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="RG">
              </div>
              <div class="col-sm-4 col-xs-12">
                <label for="exampleInputPassword1">Estado Civil </label>
                <select class="form-control">
                  <option>Solteiro</option>
                  <option>Casado</option>
                  <option>Separado</option>
                  <option>Divorciado</option>
                  <option>Viúvo</option>
                </select>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-sm-3 col-xs-12">
                <label for="exampleInputPassword1">Sexo </label>
                <select class="form-control">
                  <option>Masculino</option>
                  <option>Feminino</option>
                </select>
              </div>
              <div class="col-sm-3 col-xs-12">
                <label for="exampleInputPassword1">Gênero </label>
                <select class="form-control">
                  <option>-------</option>
                  <option>-------</option>
                </select>
              </div>
              <div class="col-sm-3 col-xs-12">
                <label for="exampleInputPassword1">Religião </label>
                <select class="form-control">
                  <option>Católico</option>
                  <option>Evangélico</option>
                  <option>Espiríta</option>
                  <option>Umbanda e Candomblé</option>
                  <option>Outras</option>
                  <option>Sem religião</option>
                  <option>Não especificado</option>
                </select>
              </div>
              <div class="col-sm-3 col-xs-12">
                <label for="exampleInputPassword1">Escolaridade </label>
                <select class="form-control">
                  <option>Fundamental incompleto</option>
                  <option>Fundamental completo</option>
                  <option>Médio incompleto</option>
                  <option>Médio completo</option>
                  <option>Superior incompleto</option>
                  <option>Superior completo</option>
                  <option>Não especificado</option>
                </select>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-3 col-xs-12">
                <label for="exampleInputPassword1"> <i class="fa fa-calendar"></i> Data de
                  Nascimento </label>
                <div class="input-group date">
                  <input type="date" class="form-control pull-right" id="datepicker">
                </div>
                <br>
              </div>
            </div>
            <hr>

            <div class="col-sm-12 col-xs-12">
              <h4><strong>Certidão de Nascimento </strong></h4>
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="exampleInputEmail1">Número </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Número">
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="exampleInputEmail1">Folha </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Folha">
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="exampleInputEmail1">Livro </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Livro">
            </div>
            <div class="col-sm-3 col-xs-12">
              <label for="exampleInputEmail1">Cidade </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cidade">
            </div>
            <div class="col-sm-2 col-xs-12">
              <label for="exampleInputEmail1">Estado </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Estado">
              <br>
            </div>

            <div class="col-sm-12 col-xs-12">
              <h4><strong>Eleitoral </strong></h4>
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="exampleInputPassword1">Título </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Título">
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="exampleInputPassword1">Zona </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Zona">
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="exampleInputPassword1">Seção </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Seção">
              <br>
            </div>

            <div class="col-sm-12 col-xs-12">
              <h4><strong>INSS </strong></h4>
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="exampleInputPassword1">Número </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Número">
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="exampleInputPassword1">Banco </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Banco">
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="exampleInputPassword1">Agência </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Agência">
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="exampleInputPassword1">Conta </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Conta">
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="exampleInputPassword1">Situação </label>
              <select class="form-control">
                <option>Benefício de prestação continuada</option>
                <option>Aposentadoria por invalidez</option>
                <option>Aposentadoria por idade</option>
              </select>
            </div>
            <div class="col-sm-3 col-xs-12">
              <label for="exampleInputPassword1">Valor </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Valor">
            </div>
            <div class="col-sm-3 col-xs-12">
              <label for="exampleInputPassword1"> <i class="fa fa-calendar"></i> Prova de
                vida </label>
              <div class="input-group date">
                <input type="date" class="form-control pull-right" id="datepicker">
              </div>
              <br>
            </div>
            <div class="col-sm-12 col-xs-12">
              <h4><strong>Outros </strong></h4>
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="exampleInputPassword1">Cartão SAMS </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Número do Cartão SAMS">
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="exampleInputPassword1">Cartão SUS </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Número do Cartão SUS">
            </div>
            <div class="col-sm-3 col-xs-12">
              <label for="exampleInputPassword1"> <i class="fa fa-calendar"></i> Data de
                acolhimento </label>
              <div class="input-group date">
                <input type="date" class="form-control pull-right" id="datepicker">
              </div>
              <br>
            </div>
          </div>

          <div class="col-sm-12 col-xs-12">
            <a style="margin-left: 10px" type="submit" class="btn btn-success botao pull-right" href="#">Próximo</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Fim conteudo NATHAN -->

</section>