<section class="content">

  <div class="box" [@novo-residenteAppeared]="novoresidenteState">
    <h1>Adicionar residente</h1>
    <hr>

    <form [formGroup]="novoResidenteForm" novalidate>
      <div class="box-body">
        <div>
          <div class="form-group">

            <!--INFORMAÇÕES PESSOAIS INICIO-->
            <div class="col-sm-12 col-sm-12" id="formTitle">
              <h4><strong>Informações pessoais</strong></h4>
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-12" id="inputValidator">
                <salv-input-container errorMessage="Campo Obrigatório" label="Nome">
                  <input type="text" class="form-control" formControlName="nome" placeholder="Nome" autocomplete="off">
                </salv-input-container>
              </div>
              <div class="col-sm-4 col-sm-12">
                <label>Apelido </label>
                <input type="text" class="form-control" formControlName="apelido" placeholder="Apelido" autocomplete="off">
              </div>
              <div class="col-sm-4 col-sm-12">
                <label for="exampleInputPassword1">Profissão </label>
                <input type="text" class="form-control" formControlName="profissao" placeholder="Profissão"
                  autocomplete="off">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-3 col-sm-12" id="inputValidator">
                <salv-input-container errorMessage="Minimo 11 caracteres" label="CPF">
                  <input type="text" mask="000.000.000-00" class="form-control" formControlName="cpf" placeholder="CPF" autocomplete="off">
                </salv-input-container>
              </div>
              <div class="col-sm-3 col-sm-12" id="inputValidator">
                <salv-input-container errorMessage="Minimo 9 caracteres" label="RG">
                  <input type="text" mask="00.000.000-0" class="form-control" formControlName="rg" placeholder="RG" autocomplete="off">
                </salv-input-container>
              </div>
              <div class="col-sm-3 col-sm-12">
                <label>Estado Civil </label>
                <select class="form-control" formControlName="estadoCivil">
                  <option value="" label="Selecione" disabled selected="selected"></option>
                  <option *ngFor="let estadoCivil of estadosCivil" [value]="estadoCivil.value">{{estadoCivil.option}}</option>
                </select>
              </div>
              <div class="col-sm-3 col-sm-12" id="inputValidator">
                <salv-input-container errorMessage="Campo Obrigatório" label="Sexo">
                  <select class="form-control" formControlName="sexo">
                    <option value="" label="Selecione" disabled selected="selected"></option>
                    <option *ngFor="let sexo of sexos" [value]="sexo.value">{{sexo.option}}</option>
                  </select>
                </salv-input-container>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-sm-2 col-sm-12">
                <label>Gênero </label>
                <select class="form-control" formControlName="genero">
                  <option value="" label="Selecione" disabled selected="selected"></option>
                  <option>-------</option>
                  <option>-------</option>
                </select>
              </div>
              <div class="col-sm-3 col-sm-12">
                <label>Religião </label>
                <select class="form-control" formControlName="religiao">
                  <option value="" label="Selecione" disabled selected="selected"></option>
                  <option *ngFor="let religiao of religioes" [value]="religiao.value">{{religiao.option}}</option>
                </select>
              </div>
              <div class="col-sm-4 col-sm-12">
                <label>Escolaridade </label>
                <select class="form-control" formControlName="escolaridade">
                  <option value="" label="Selecione" disabled selected="selected"></option>
                  <option *ngFor="let escolaridade of escolaridades" [value]="escolaridade.value">{{escolaridade.option}}</option>
                </select>
              </div>
              <div class="col-sm-3 col-sm-12">
                <label>Data de Nascimento </label>
                <div class="input-group date">
                  <input type="date" class="form-control pull-right" id="datepicker" formControlName="dataNascimento">
                </div>
                <br>
              </div>
            </div>
            <hr>
            <!--INFORMAÇÕES PESSOAIS FINAL-->

            <!--CERTIDÃO DE NASCIMENTO INICIO-->
            <div class="col-sm-12 col-sm-12" id="formTitle">
              <h4><strong>Certidão de Nascimento </strong></h4>
            </div>

            <div class="row">
              <div class="col-sm-4 col-sm-12">
                <label>Número </label>
                <input type="text" class="form-control" formControlName="numeroCertidaoNascimento" placeholder="Número"
                  autocomplete="off">
              </div>
              <div class="col-sm-4 col-sm-12">
                <label>Folha </label>
                <input type="text" class="form-control" formControlName="folhaCertidaoNascimento" placeholder="Folha"
                  autocomplete="off">
              </div>
              <div class="col-sm-4 col-sm-12">
                <label>Livro </label>
                <input type="text" class="form-control" formControlName="livroCertidaoNascimento" placeholder="Livro"
                  autocomplete="off">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-3 col-sm-12">
                <label>Cidade </label>
                <input type="text" class="form-control" formControlName="cidadeCertidaoNascimento" placeholder="Cidade"
                  autocomplete="off">
              </div>
              <div class="col-sm-2 col-sm-12">
                <label>Estado </label>
                <select class="form-control" formControlName="estadoCertidaoNascimento">
                  <option value="" label="Selecione" disabled selected="selected"></option>
                  <option *ngFor="let estado of estados">{{estado}}</option>
                </select>
                <br>
              </div>
            </div>
            <hr>
            <!--CERTIDÃO DE NASCIMENTO FINAL-->

            <!--SEÇÃO ELEITORAL INICIO-->
            <div class="col-sm-12 col-sm-12" id="formTitle">
              <h4><strong>Eleitoral</strong></h4>
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-12">
                <label for="exampleInputPassword1">Título </label>
                <input type="text" class="form-control" formControlName="tituloEleitoral" placeholder="Título"
                  autocomplete="off">
              </div>
              <div class="col-sm-4 col-sm-12">
                <label for="exampleInputPassword1">Zona </label>
                <input type="text" class="form-control" formControlName="zonaEleitoral" placeholder="Zona" autocomplete="off">
              </div>
              <div class="col-sm-4 col-sm-12">
                <label for="exampleInputPassword1">Seção </label>
                <input type="text" class="form-control" formControlName="secaoEleitoral" placeholder="Seção"
                  autocomplete="off">
                <br>
              </div>
            </div>
            <hr>
            <!--SEÇÃO ELEITORAL FINAL-->

            <!--INSS INICIO-->
            <div class="col-sm-12 col-sm-12" id="formTitle">
              <h4><strong>INSS </strong></h4>
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-12">
                <label for="exampleInputPassword1">Número </label>
                <input type="text" class="form-control" formControlName="numeroInss" placeholder="Número" autocomplete="off">
              </div>
              <div class="col-sm-3 col-sm-12">
                <label for="exampleInputPassword1">Banco </label>
                <input type="text" class="form-control" formControlName="bancoInss" placeholder="Banco" autocomplete="off">
              </div>
              <div class="col-sm-2 col-smm-12">
                <label for="exampleInputPassword1">Agência </label>
                <input type="text" class="form-control" formControlName="agenciaInss" placeholder="Agência"
                  autocomplete="off">
              </div>
              <div class="col-sm-3 col-sm-12">
                <label for="exampleInputPassword1">Conta </label>
                <input type="text" class="form-control" formControlName="contaInss" placeholder="Conta" autocomplete="off">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4 col-sm-12">
                <label for="exampleInputPassword1">Situação </label>
                <select class="form-control" formControlName="situacaoInss">
                  <option value="" label="Selecione" disabled selected="selected"></option>
                  <option *ngFor="let situacao of situacoesInss" [value]="situacao.value">{{situacao.option}}</option>
                </select>
              </div>
              <div class="col-sm-3 col-sm-12">
                <label for="exampleInputPassword1">Valor </label>
                <input type="text" class="form-control" formControlName="valorInss" placeholder="Valor" autocomplete="off">
              </div>
              <div class="col-sm-3 col-sm-12">
                <label>Prova de vida </label>
                <div class="input-group date">
                  <input type="date" class="form-control pull-right" id="datepicker" formControlName="provaVidaInss">
                </div>
                <br>
              </div>
            </div>
            <hr>
            <!--INSS FINAL-->

            <!--OUTROS INICIO-->
            <div class="col-sm-12 col-sm-12" id="formTitle">
              <h4><strong>Outros </strong></h4>
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-12">
                <label for="exampleInputPassword1">Cartão SAMS </label>
                <input type="text" class="form-control" formControlName="cartaoSams" placeholder="Número do Cartão SAMS">
              </div>
              <div class="col-sm-4 col-sm-12">
                <label for="exampleInputPassword1">Cartão SUS </label>
                <input type="text" class="form-control" formControlName="cartaoSus" placeholder="Número do Cartão SUS">
              </div>
              <div class="col-sm-3 col-sm-12" id="inputValidator">
                <salv-input-container errorMessage="Campo Obrigatório" label="Data de Acolhimento">
                  <div class="input-group date">
                    <input type="date" class="form-control pull-right" id="datepicker" formControlName="dataAcolhimento">
              </div>
            </salv-input-container>
              <br>
            </div>
          </div>
        </div>
        <!--OUTROS FINAL-->

        <!--BOTÃO-->
        <div class="col-sm-12 col-sm-12">
          <button (click)="novoResidente(novoResidenteForm.value)" style="margin-left: 10px" class="btn btn-success botao pull-right" [routerLink]="['/familiar-residente']">Próximo</button>
        </div>
      </div>
  </div>
  </form>
  </div>

</section>