<ngx-spinner></ngx-spinner>
<section class="content">
  <!-- Conteudo NATHAN -->
  <div class="box" [@editar-acompanhamentoAppeared]="editaracompanhamentoState">
    <h1 align="center">Atualizar acompanhamento</h1>
    <hr>

    <form [formGroup]="editarAcompanhamentoForm" novalidate >
      <div class="box-body">
        <div class="form-group" >


          <div class="col-sm-8 col-xs-12" id="inputValidator">
              <salv-input-container errorMessage="Campo Obrigatório">
            <label>Residentes que participaram da atividade </label><br>
            <ng-multiselect-dropdown [placeholder]="'Selecione os residentes'" [data]="residentes"
            [(ngModel)]="selectedResidentes" 
            formControlName="residentes"
              [disabled]="disabled" [settings]="dropdownSettings" (onSelect)="onResidenteSelect($event)" (onDeSelect)="onDeResidenteSelect($event)">
              
            </ng-multiselect-dropdown>
            </salv-input-container>
          </div>


          <div class="col-sm-3 col-xs-12" id="inputValidator">
              <salv-input-container errorMessage="Campo Obrigatório">
            <label for="exampleInputPassword1"> <i class="fa fa-calendar"></i> Data
              da
              atividade</label>
            <div class="input-group date">
              <input type="date" class="form-control pull-right" id="datepicker" formControlName="DATA_ACOMPANHAMENTO">
            </div>
            <br>
              </salv-input-container>
          </div>

          <div class="col-sm-10 col-xs-12" id="inputValidator">
              <salv-input-container errorMessage="Campo Obrigatório">
            <label>Atividade realizada</label>
            <textarea class="form-control" rows="3" formControlName="ATIVIDADE" 
            placeholder="Descrição da atividade realizada"
              auatocomplete="off"></textarea>
             
            <br>
            </salv-input-container>
          </div>

          <div class="col-sm-8 col-xs-12" id="inputValidator" >
              <salv-input-container errorMessage="Campo Obrigatório" >
            <label>Funcionários que realizaram a atividade </label><br>
            <ng-multiselect-dropdown name="funcionarios" 
            [placeholder]="'Selecione os funcionários'" [data]="funcionarios"        
            [(ngModel)]="selectedFuncionarios" 
            formControlName="funcionarios"
            [disabled]="disabled"
            [settings]="dropdownSettings2"
            (onSelect)="onFuncionarioSelect($event)"
            (onDeSelect)="onDeFuncionarioSelect($event)"

            >
            </ng-multiselect-dropdown>
              </salv-input-container>
          </div>


        </div>
        <!--form group-->

        <!--Botão-->
        <div class="col-sm-12 col-xs-12">
          <br>
          <button (click)="editarAcompanhamento(editarAcompanhamentoForm.value); updateAcompanhamentoFuncionario();  updateAcompanhamentoResidente()" style="margin-left: 10px" class="btn btn-success botao pull-right"
            >Finalizar atualização</button>

          <button type="submit" (click)="novoAcompanhamentoForm()" class="btn btn-default botao pull-right" >Voltar</button>
        </div>
        <!--Fim botão-->

      </div>

    </form>
  </div>
  <!-- Fim conteudo NATHAN -->
  <!-- /.row -->
</section>

<script src="script.js"></script>