<!------------------------------- PROVA DE VIDA ---------------->
<br>
<div class="box box-secundary">
   <div class="box-header with-border">
     <h3 class="box-title" style="font-weight: bold;">Provas de vida a serem feitas</h3>

     <div class="box-tools pull-right">
       <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
       </button>
       
     </div>
   </div>
   <!-- /.box-header -->
   <div class="box-body">
     <div class="table-responsive">
       <table class="table no-margin">
         <thead>
         <tr>
           <th>Residente</th>
           <th>Benefício</th>
           <th>Data</th>
           
         </tr>
         </thead>
         <tbody>
         <tr>
           <td><a>Maria Aparecida</a></td>
           <td>Inss</td>
           <td> <span class="label label-success"> 03/12</span></td> 
         </tr>

         <tr>
             <td><a>João da Silva</a></td>
             <td>Farmácia Popular</td>
             <td> <span class="label label-success"> 03/12</span> </td> 
           </tr>

           <tr>
               <td><a>José Augusto</a></td>
               <td>Inss</td>
               <td> <span class="label label-success"> 03/12</span> </td> 
             </tr>

             <tr>
                 <td><a>Marcos Pontes</a></td>
                 <td>Inss</td>
                 <td> <span class="label label-success"> 03/12</span> </td> 
               </tr> 

         </tbody>
       </table>
     </div>
     <!-- /.table-responsive -->
   </div>
  
 </div>
