<!-- INÍCIO DO CONTEÚDO -->
<div class="row">
  <div class="login-logo">
    <img src="./../../../assets/img/dr.vida.png" Login>
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body">
    <p class="login-box-msg">Por favor, defina a nova senha</p>

    <div class="col-xs-12 col-sm-12">
      <span style="color: red" class="help-block pull-right has-error-block" *ngIf="resetPasswordForm.hasError('passNotMatch')"><i class="fa fa-remove"></i> Senhas não conferem</span>
    </div>

    <form [formGroup]="resetPasswordForm">
      <salv-input-container [showTip]=false>
        <input type="password" formControlName="newPassword" class="form-control" placeholder="Nova senha">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </salv-input-container>
      <salv-input-container [showTip]=false>
        <input type="password" formControlName="verifyPassword" class="form-control" placeholder="Repita a nova senha">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </salv-input-container>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" (click)="resetPass(resetPasswordForm.value)" [disabled]="!resetPasswordForm.valid"
            class="btn btn-success btn-block btn-flat">Alterar senha</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
</div>
<!-- FIM DO CONTEÚDO -->