<ngx-spinner></ngx-spinner>
<section class="content">
    <button (click)="reportConvenio()" class="btn btn-success" id="printReport"><i class="fa fa-print"></i></button>
    <div class="box box-default box-editar" [@convenioAppeared]="convenioState">
        <h1>Detalhes do convênio</h1>
        <hr>
        <br>
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Informações do convênio</h3>
                <div class="box-tools pull-right">
                    <a type="submit" class="btn btn-warning botao" data-toggle="modal"
                        data-target="#modalConvenio">Editar</a>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-12 col-xs-12">
                    <h4><strong>{{convenio?.NOME_CONVENIO}}</strong></h4>
                </div>
                <div class="col-xs-4 col-xs-12">
                    <strong>Tipo: </strong> {{convenio?.TIPO_CONVENIO}}<br>
                </div>
                <div class="col-xs-4 col-xs-12">
                    <strong>Endereço: </strong> {{convenio?.ENDERECO}}
                </div>
                <div class="col-xs-4 col-xs-12">
                    <strong>Nº: </strong> {{convenio?.NUMERO}}
                </div>
                <div class="col-xs-4 col-xs-12">
                    <strong>Bairro: </strong> {{convenio?.BAIRRO}}
                </div>
                <div class="col-xs-4 col-xs-12" *ngIf="convenio.COMPLEMENTO">
                    <strong>Complemento: </strong> {{convenio?.COMPLEMENTO}}
                </div>
                <div class="col-xs-4 col-xs-12">
                    <strong>Cidade: </strong> {{convenio?.CIDADE}}
                </div>
                <div class="col-xs-4 col-xs-12">
                    <strong>Estado: </strong> {{convenio?.ESTADO}}
                </div>
                <div class="col-xs-4 col-xs-12">
                    <strong>CEP: </strong> {{convenio?.CEP | cep}}
                </div>
                <div class="col-xs-4 col-xs-12" *ngIf="convenio.REFERENCIA">
                    <strong>Referência: </strong> {{convenio?.REFERENCIA}}
                </div>
                <br />
                <div class="col-sm-12 col-xs-12">
                    <h4><strong>Telefones <a type="submit" data-toggle="modal" data-target="#modalTelefone"
                                style="margin-left: -10px">
                                <span class="plus-itens"><i class="fa fa-plus-circle"></i></span>
                            </a></strong></h4>
                    <!--FIM DIV MODAL-->
                    <!--INICIO TELEFONES-->
                    <div>
                        <div class="col-xs-4 col-xs-12" *ngFor="let telefone of telefones">
                            <strong style="margin-left: -12px">Telefone: </strong> ({{telefone?.TELEFONE.DDD}})
                            {{telefone?.TELEFONE.NUMERO | telefone}} <a><span id="iconesForm"
                                    (click)="deleteTelefone(convenio.CODIGO, telefone.TELEFONE.CODIGO); $event.stopPropagation()"><i
                                        class="fa fa-close"></i></span></a>
                            <a data-toggle="modal" data-target="#modalUpdateTelefone"
                                (click)="buscaTelefone(telefone.TELEFONE.CODIGO)"><span id="iconesForm"><i
                                        class="fa fa-pencil"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--MODAL-->
            <div class="modal fade" id="modalConvenio" tabindex="-1" role="dialog" aria-labelledby="modalConvenio"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form [formGroup]="editarConvenioForm" novalidate>
                                <div class="box-body">
                                    <div>
                                        <div class="col-sm-12 col-xs-12" id="FormTitle">
                                            <h4><strong>Editar convênio</strong></h4>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <salv-input-container errorMessage="Campo Obrigatório" label="Nome">
                                                    <span class="text-danger">*</span> 
                                                <input type="text" class="form-control" formControlName="NOME_CONVENIO"
                                                    placeholder="Nome" autocomplete="off" maxlength="100">
                                            </salv-input-container>
                                            <br>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <salv-input-container errorMessage="Campo Obrigatório"
                                                label="Tipo do convênio">
                                                <span class="text-danger">*</span> 
                                                <input type="text" class="form-control" formControlName="TIPO_CONVENIO"
                                                    placeholder="Tipo" autocomplete="off" maxlength="100">
                                            </salv-input-container>
                                            <br>
                                        </div>
                                        <div class="col-sm-9 col-xs-12" id="inputValidator" formGroupName="ENDERECO"
                                            style="padding-left: 25px">
                                            <salv-input-container errorMessage="Campo Obrigatório" label="Endereço">
                                                    <span class="text-danger">*</span> 
                                                <input type="text" class="form-control" formControlName="ENDERECO"
                                                    placeholder="Endereço" autocomplete="off" maxlength="100">
                                            </salv-input-container>
                                        </div>
                                        <div class="col-sm-3 col-xs-12" id="inputValidator" formGroupName="ENDERECO">
                                            <salv-input-container errorMessage="Campo Obrigatório" label="Número">
                                                    <span class="text-danger">*</span> 
                                                <input type="text" class="form-control" formControlName="NUMERO"
                                                    placeholder="Número" autocomplete="off" maxlength="5" mask="00000">
                                            </salv-input-container>
                                        </div>
                                        <div class="col-sm-6 col-xs-12" id="inputValidator" formGroupName="ENDERECO"
                                            style="padding-left: 25px; margin-top: -20px">
                                            <br>
                                            <salv-input-container errorMessage="Campo Obrigatório" label="Bairro">
                                                    <span class="text-danger">*</span> 
                                                <input type="text" class="form-control" formControlName="BAIRRO"
                                                    placeholder="Bairro" autocomplete="off" maxlength="50">
                                            </salv-input-container>
                                        </div>
                                        <div class="col-sm-6 col-xs-12" formGroupName="ENDERECO"
                                            style="margin-top: 10.3px">
                                            <label>Complemento</label>
                                            <input type="text" class="form-control" formControlName="COMPLEMENTO"
                                                placeholder="Complemento" autocomplete="off" maxlength="50">
                                            <br>
                                        </div>
                                        <div class="col-sm-4 col-xs-12" formGroupName="ENDERECO"
                                            style="margin-top: 0.3px">
                                            <salv-input-container errorMessage="Campo Obrigatório" label="Cidade">
                                                    <span class="text-danger">*</span> 
                                                <input type="text" class="form-control" formControlName="CIDADE"
                                                    placeholder="Cidade" autocomplete="off" maxlength="50">
                                            </salv-input-container>
                                        </div>
                                        <div class="col-sm-4 col-xs-12" formGroupName="ENDERECO"
                                            style="margin-top: 0.3px">
                                            <salv-input-container errorMessage="Campo Obrigatório" label="Estado">
                                                    <span class="text-danger">*</span> 
                                                <select class="form-control" formControlName="ESTADO">
                                                    <option value="" label="Selecione" disabled selected="selected">
                                                    </option>
                                                    <option *ngFor="let estado of estados">
                                                        {{estado}}
                                                    </option>
                                                </select>
                                            </salv-input-container>
                                        </div>
                                        <div class="col-sm-4 col-xs-12" formGroupName="ENDERECO"
                                            style="margin-top: 0.3px">
                                            <salv-input-container errorMessage="Campo Obrigatório" label="CEP">
                                                    <span class="text-danger">*</span> 
                                                <input type="text" mask="00.000-000" class="form-control"
                                                    formControlName="CEP" placeholder="CEP" autocomplete="off"
                                                    maxlength="10">
                                            </salv-input-container>
                                        </div>
                                        <div class="col-sm-7 col-xs-12" formGroupName="ENDERECO"
                                            style="margin-top: 0.3px; padding-left: 25px">
                                            <label>Referência</label>
                                            <input type="text" class="form-control" formControlName="REFERENCIA"
                                                placeholder="Referência" autocomplete="off" maxlength="100">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-success"
                                (click)="editarConvenio(editarConvenioForm.value)"
                                [disabled]="!editarConvenioForm.valid" data-dismiss="modal">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--FIM MODAL-->
            <!-- Modal -->
            <div class="modal fade" id="modalTelefone" tabindex="-1" role="dialog" aria-labelledby="modalTelefone"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form [formGroup]="novoTelefoneForm" novalidate>
                                <div class="box-body">
                                    <div>
                                        <div class="col-sm-12 col-sm-12" id="formTitle">
                                            <h4><strong>Adicionar novo telefone</strong></h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 col-sm-12">
                                                <label>DDD</label>
                                                <input type="text" class="form-control" mask="000" formControlName="DDD"
                                                    placeholder="DDD" autocomplete="off" maxlength="3">
                                            </div>
                                            <div class="col-sm-3 col-sm-12">
                                                <label>Número</label>
                                                <input type="text" class="form-control" mask="000000000"
                                                    formControlName="NUMERO" placeholder="Número" autocomplete="off"
                                                    maxlength="9">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-success"
                                (click)="novoTelefone(this.novoTelefoneForm.value)" data-dismiss="modal">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--FIM MODAL-->
            <!-- Modal -->
            <div class="modal fade" id="modalUpdateTelefone" tabindex="-1" role="dialog"
                aria-labelledby="modalUpdateTelefone" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form [formGroup]="updateTelefoneForm" novalidate>
                                <div class="box-body">
                                    <div>
                                        <div class="col-sm-12 col-sm-12" id="formTitle">
                                            <h4><strong>Editar telefone</strong></h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 col-sm-12">
                                                <label>DDD</label>
                                                <input type="text" class="form-control" mask="000" formControlName="DDD"
                                                    placeholder="DDD" autocomplete="off" maxlength="3">
                                            </div>
                                            <div class="col-sm-3 col-sm-12">
                                                <label>Número</label>
                                                <input type="text" class="form-control" mask="000000000"
                                                    formControlName="NUMERO" placeholder="Número" autocomplete="off"
                                                    maxlength="9">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-success"
                                (click)="updateTelefone(this.updateTelefoneForm.value)"
                                data-dismiss="modal">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--FIM MODAL-->
            <div class="botao">
                <a type="submit" class="btn btn-default botao" [routerLink]="['/convenios']">Voltar</a>
            </div>
        </div>
    </div>
</section>