<ngx-spinner></ngx-spinner>
<section class="content">
    <button (click)="reportConvenio()" class="btn btn-success" id="printReport"><i class="fa fa-print"></i></button>
    <div id="content">
        <div>

            <div class="box box-default box-editar" [@convenioAppeared]="convenioState">
                <h1>Detalhes do convênio</h1>
                <hr>
                <br>
                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Informações do convênio</h3>

                            <div class="box-tools pull-right">
                                <a type="submit" class="btn btn-warning botao" data-toggle="modal"
                                    data-target="#modalConvenio">Editar</a>
                            </div>

                        </div>

                        <!--MODAL-->
                        <div class="modal fade" id="modalConvenio" tabindex="-1" role="dialog"
                            aria-labelledby="modalConvenio" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <form [formGroup]="editarConvenioForm" novalidate>
                                            <div class="box-body">
                                                <div>
                                                    <div class="col-sm-12 col-xs-12" id="FormTitle">
                                                        <h4><strong>Editar convênio</strong></h4>
                                                    </div>

                                                    <div class="col-sm-6 col-xs-12">
                                                        <salv-input-container errorMessage="Campo Obrigatório" label="Nome">                        <input type="text" class="form-control"
                                                            formControlName="NOME_CONVENIO" placeholder="Nome"
                                                            autocomplete="off" maxlength="100">
                                                        </salv-input-container>
                                                        <br>
                                                    </div>

                                                    <div class="col-sm-6 col-xs-12">
                                                        <salv-input-container errorMessage="Campo Obrigatório" label="Tipo do convênio">
                                                            <input type="text" class="form-control"
                                                            formControlName="TIPO_CONVENIO" placeholder="Tipo"
                                                            autocomplete="off" maxlength="100">
                                                        </salv-input-container>    
                                                        <br>
                                                    </div>

                                                    <div class="col-sm-9 col-xs-12" id="inputValidator"
                                                        formGroupName="ENDERECO" style="padding-left: 25px">
                                                        <salv-input-container errorMessage="Campo Obrigatório" label="Endereço">
                                                            <input type="text" class="form-control"
                                                            formControlName="ENDERECO" placeholder="Endereço"
                                                            autocomplete="off" maxlength="100">
                                                        </salv-input-container>
                                                    </div>

                                                    <div class="col-sm-3 col-xs-12" id="inputValidator"
                                                        formGroupName="ENDERECO">
                                                        <salv-input-container errorMessage="Campo Obrigatório" label="Número" >
                                                            <input type="text" class="form-control" formControlName="NUMERO"
                                                            placeholder="Número" autocomplete="off" maxlength="5" mask="00000">
                                                        </salv-input-container>
                                                    </div>

                                                    <div class="col-sm-6 col-xs-12" id="inputValidator"
                                                        formGroupName="ENDERECO" style="padding-left: 25px; margin-top: -20px">
                                                        <br>
                                                        <salv-input-container errorMessage="Campo Obrigatório" label="Bairro">
                                                            <input type="text" class="form-control" formControlName="BAIRRO"
                                                            placeholder="Bairro" autocomplete="off" maxlength="50">
                                                        </salv-input-container>
                                                    </div>

                                                    <div class="col-sm-6 col-xs-12" formGroupName="ENDERECO"
                                                        style="margin-top: 10.3px">
                                                        <label>Complemento</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="COMPLEMENTO" placeholder="Complemento"
                                                            autocomplete="off" maxlength="50">
                                                        <br>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12" formGroupName="ENDERECO"
                                                        style="margin-top: 0.3px">
                                                        <salv-input-container errorMessage="Campo Obrigatório" label="Cidade">
                                                            <input type="text" class="form-control" formControlName="CIDADE"
                                                            placeholder="Cidade" autocomplete="off" maxlength="50">
                                                        </salv-input-container>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12" formGroupName="ENDERECO"
                                                        style="margin-top: 0.3px">
                                                        <salv-input-container errorMessage="Campo Obrigatório" label="Estado">
                                                            <select class="form-control" formControlName="ESTADO">
                                                                <option value="" label="Selecione" disabled
                                                                selected="selected"></option>
                                                                <option *ngFor="let estado of estados">
                                                                {{estado}}
                                                                </option>
                                                            </select>
                                                        </salv-input-container>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12" formGroupName="ENDERECO"
                                                        style="margin-top: 0.3px">
                                                        <salv-input-container errorMessage="Campo Obrigatório" label="CEP">
                                                            <input type="text" mask="00.000-000" class="form-control"
                                                            formControlName="CEP" placeholder="CEP" autocomplete="off"
                                                            maxlength="10">
                                                        </salv-input-container>
                                                    </div>

                                                    <div class="col-sm-7 col-xs-12" formGroupName="ENDERECO"
                                                        style="margin-top: 0.3px; padding-left: 25px">
                                                        <label>Referência</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="REFERENCIA" placeholder="Referência"
                                                            autocomplete="off" maxlength="100">
                                                    </div>

                                                    <div class="col-sm-3 col-xs-12" id="inputValidator"
                                                        formGroupName="TELEFONE"
                                                        style="padding-left: 25px; margin-top: 10.3px">
                                                        <salv-input-container errorMessage="Campo Obrigatório" label="DDD">
                                                            <input type="text" class="form-control" formControlName="DDD"
                                                            placeholder="DDD" autocomplete="off" maxlength="3" mask="000">
                                                        </salv-input-container>
                                                    </div>

                                                    <div class="col-sm-6 col-xs-12" id="inputValidator"
                                                        formGroupName="TELEFONE" style="margin-top: 10.3px">
                                                        <salv-input-container errorMessage="Campo Obrigatório" label="Telefone">
                                                            <input type="text" class="form-control" formControlName="NUMERO"
                                                            placeholder="Telefone" autocomplete="off" maxlength="9" mask="000000000">
                                                        </salv-input-container>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-success"
                                            (click)="editarConvenio(editarConvenioForm.value)" [disabled]="!editarConvenioForm.valid"
                                            data-dismiss="modal">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--FIM MODAL-->



                        <div class="col-sm-12 col-xs-12">
                            <h4><strong>{{convenio?.NOME_CONVENIO}}</strong></h4>
                        </div>

                        <div class="col-xs-4 col-xs-12">
                            <strong>Tipo: </strong> {{convenio?.TIPO_CONVENIO}}<br>
                        </div>

                        <div class="col-xs-4 col-xs-12">
                            <strong>Telefone: </strong> ({{convenio?.DDD}}) {{convenio?.TELEFONE | telefone}}
                        </div>

                        <div class="col-xs-4 col-xs-12">
                            <strong>Endereço: </strong> {{convenio?.ENDERECO}}
                        </div>

                        <div class="col-xs-4 col-xs-12">
                            <strong>Nº: </strong> {{convenio?.NUMERO}}
                        </div>

                        <div class="col-xs-4 col-xs-12">
                            <strong>Bairro: </strong> {{convenio?.BAIRRO}}
                        </div>

                        <div class="col-xs-4 col-xs-12" *ngIf="convenio.COMPLEMENTO">
                            <strong>Complemento: </strong> {{convenio?.COMPLEMENTO}}
                        </div>

                        <div class="col-xs-4 col-xs-12">
                            <strong>Cidade: </strong> {{convenio?.CIDADE}}
                        </div>

                        <div class="col-xs-4 col-xs-12">
                            <strong>Estado: </strong> {{convenio?.ESTADO}}
                        </div>

                        <div class="col-xs-4 col-xs-12">
                            <strong>CEP: </strong> {{convenio?.CEP | cep}}
                        </div>

                        <div class="col-xs-12 col-xs-12" *ngIf="convenio.REFERENCIA">
                            <strong>Referência: </strong> {{convenio?.REFERENCIA}}
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <br>
                        </div>



                    </div>



                </div>
                <div class="botao">
                    <a type="submit" class="btn btn-default botao" [routerLink]="['/convenios']">Voltar</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
</section>