<br>
<h4>
    <strong style="margin-left: 10px">Informações de dependentes <a type="submit" class="btn btn-success botao" >+</a></strong>
</h4> 

<div class="col-sm-4 col-xs-12">
<label for="exampleInputPassword1">Nome </label>
<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nome">
</div>
<div class="col-sm-4 col-xs-12">
<label for="exampleInputPassword1">CPF </label>
<input type="text" class="form-control" id="exampleInputPassword1" placeholder="CPF">
</div>
<div class="col-sm-4 col-xs-12">
<label for="exampleInputPassword1">RG </label>
<input type="text" class="form-control" id="exampleInputPassword1" placeholder="RG">
</div>
<div class="col-sm-3 col-xs-12">
<label for="exampleInputPassword1">
    <i class="fa fa-calendar"></i> Data de Nascimento </label>
<div class="input-group date">
    <input type="date" class="form-control pull-right" id="datepicker">
</div>
<br>
</div>
<div class="col-sm-12 col-xs-12">
<h4><strong>Certidão de Nascimento </strong></h4>
</div>
<div class="col-sm-4 col-xs-12">
<label for="exampleInputEmail1">Número </label>
<input type="text" class="form-control" id="exampleInputPassword1"
    placeholder="Número">
</div>
<div class="col-sm-4 col-xs-12">
<label for="exampleInputEmail1">Folha </label>
<input type="text" class="form-control" id="exampleInputPassword1"
    placeholder="Folha">
</div>
<div class="col-sm-4 col-xs-12">
<label for="exampleInputEmail1">Livro </label>
<input type="text" class="form-control" id="exampleInputPassword1"
    placeholder="Livro">
</div>
<div class="col-sm-3 col-xs-12">
<label for="exampleInputEmail1">Cidade </label>
<input type="text" class="form-control" id="exampleInputPassword1"
    placeholder="Cidade">
</div>
<div class="col-sm-2 col-xs-12">
<label for="exampleInputEmail1">Estado </label>
<input type="text" class="form-control" id="exampleInputPassword1"
    placeholder="Estado">
 </div>   
<br>
