<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <li class="user user-menu">

      <span *ngIf="isLoggedIn()">

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Olá, {{user}} <span
          class="caret"></span></a>
      <ul class="dropdown-menu dropdown-menu-right cor-dropdown-usuario" role="menu">
        <li><a [routerLink]="['/alterar-senha']"><i class="fa fa-cogs"></i> Alterar senha </a></li>
        <li class="divider"></li>
        <li><a (click)="logout()"><i class="fa fa-sign-out"></i> Sair</a>
      </ul>
    </li>

    </span>

    </li>
  </ul>
</div>