
<h4><strong>Informações funcionais</strong></h4>

<div class="col-sm-3 col-xs-12">
    <label for="exampleInputPassword1">Cargo </label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cargo">
</div>
<div class="col-sm-3 col-xs-12">
    <label for="exampleInputPassword1">
        <i class="fa fa-calendar"></i> Data de admissão </label>
    <div class="input-group date">
        <input type="date" class="form-control pull-right" id="datepicker">
    </div>
    <br>
</div>
<div class="col-sm-3 col-xs-12">
    <label for="exampleInputPassword1">
        <i class="fa fa-calendar"></i> Data de demissão </label>
    <div class="input-group date">
        <input type="date" class="form-control pull-right" id="datepicker">
    </div>
    <br>
</div>
<div class="col-sm-12 col-xs-12">
    <h4>
        <strong>Cadastro de usuario</strong>
    </h4>
</div>
<div class="col-sm-4 col-xs-12">
    <label for="exampleInputPassword1">Email </label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Email">
</div>
<div class="col-sm-4 col-xs-12">
    <label for="exampleInputPassword1">Login </label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Login">
</div>
<div class="col-sm-4 col-xs-12">
    <label for="exampleInputPassword1">Senha </label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Senha"><br>
</div>

