<ngx-spinner></ngx-spinner>
<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: #00AE5D;
  }

  p {
    max-width: 55ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>

<section class="content">


  <button class="btn btn-success" id="printReport" data-toggle="modal" data-target="#modalReport"><i
      class="fa fa-print"></i></button>

  <!--MODAL-->
  <div class="modal fade" id="modalReport" tabindex="-1" role="dialog" aria-labelledby="modalReport" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form [formGroup]="dateReportForm" novalidate>
            <div class="box-body">
              <div>
                <div class="col-sm-12 col-sm-12" id="formTitle">
                  <h4 class="text-center"><strong>Relatório de acompanhamentos</strong></h4>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xs-12" style="text-align: center; font-size: 11px; margin-left: -12px">
                    Preencha apenas caso queira filtrar por data
                  </div>
                </div>
                <hr class="col-6">
                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                    <label>De:</label>
                    <input type="date" class="form-control pull-right" id="datepicker" formControlName="dateStart"
                      max="2999-12-31">
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <label>Até:</label>
                    <input type="date" class="form-control pull-right" id="datepicker" formControlName="dateFinish"
                      max="2999-12-31">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-dismiss="modal"
            (click)="reportAcompanhamentos()">Imprimir</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL-->

  <div id="content">
    <div class="form-group">
      <a type="submit" class="btn btn-primary" [routerLink]="['/acompanhamentos/novo-acompanhamento']">Novo
        acompanhamento</a>


      <!-- FILTRO -->

      <!-- FIM DO FILTRO -->

      <!-- PESQUISA -->
      <div class="btn-group pull-right" style="margin-right: 40px; margin-left: 40px">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Pesquisar</button>

        <ul class="dropdown-menu" role="menu">
          <div class="input-group" style="margin: 5px">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input input class="form-control" placeholder="Pesquisar" type="text" name="search" [(ngModel)]="filter"
              style="height: 40px; width: 250px">
          </div>
        </ul>
      </div>
      <!-- FIM PESQUISA-->
      <br>

    </div>
    <br>
    <div class="box box-default table-responsive no-padding" [@acompanhamentosAppeared]="acompanhamentosState">
      <h1>Visualização geral dos acompanhamentos</h1>

      <br>
      <table class="table table-hover" id="datatable">
        <tr>
          <th class="col-sm-4">Atividade realizada</th>
          <th class="col-sm-4">Data</th>
          <th class="col-sm-4">Ações</th>
        </tr>
        <tr
          *ngFor="let acompanhamento of acompanhamentos | filter : filter : searchString | paginate: { itemsPerPage: 10, currentPage: paginaAtual} let i = index">
          <td>
            <p>{{acompanhamento.ATIVIDADE}}</p>
          </td>
          <td>{{acompanhamento.DATA_ACOMPANHAMENTO | date:'dd/MM/yyyy'}}</td>

          <td>

            <a type="submit" class="btn btn-success botao" [routerLink]="['/acompanhamentos', acompanhamento.CODIGO]">
              + Opções</a>
          </td>
        </tr>

      </table>
      <pagination-controls class="my-pagination " (pageChange)="paginaAtual = $event" previousLabel="Anterior"
        nextLabel="Próximo" screenReaderPaginationLabel="Paginação" screenReaderPageLabel="Página"
        screenReaderCurrentLabel="Voce esta na página"></pagination-controls>
      <!-- Fim da tabela  -->
    </div>
  </div>
</section>