
<div class="col-sm-12 col-xs-12">
  <h4><strong>{{convenio?.NOME_CONVENIO}}</strong></h4>
</div>

<div class="col-xs-6 col-xs-12">
  <strong>Tipo: </strong> {{convenio?.TIPO_CONVENIO}}<br>
</div>

<div class="col-xs-12 col-xs-12">
  <strong>Telefone: </strong> ({{convenio?.DDD}}) {{convenio?.TELEFONE}}
</div>

<div class="col-xs-4 col-xs-12">
  <strong>Endereço: </strong> {{convenio?.ENDERECO}}
</div>

<div class="col-xs-2 col-xs-12">
  <strong>Nº: </strong> {{convenio?.NUMERO}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Bairro: </strong> {{convenio?.BAIRRO}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Complemento: </strong> {{convenio?.COMPLEMENTO}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Cidade: </strong> {{convenio?.CIDADE}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Estado: </strong> {{convenio?.ESTADO}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>CEP: </strong> {{convenio?.CEP}}
</div>

<div class="col-xs-3 col-xs-12">
  <strong>Referência: </strong> {{convenio?.REFERENCIA}}
</div>