<div class="col-md-12">
  <div class="col-sm-12 col-xs-12">
    <h4><strong>Informações pessoais</strong></h4>
  </div>
  <div class="col-xs-4 col-xs-12">
    <a><span (click)="deleteDependente(dependente.NOME, dependente.SOBRENOME); $event.stopPropagation()"><i
          class="fa fa-close"></i></span></a>
    <strong>Nome: </strong> {{dependente?.NOME}} {{dependente?.SOBRENOME}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12">
    <strong>Data de Nascimento: </strong> {{dependente?.DATA_NASCIMENTO | date: 'dd/MM/yyy'}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12">
    <strong>RG: </strong> {{dependente?.RG | rg}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12">
    <strong>CPF: </strong> {{dependente?.CPF | cpf}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12" *ngIf="dependente.NUMERO_CERTIDAO_NASCIMENTO">
    <strong>Nº Certidão de Nascimento: </strong> {{dependente?.NUMERO_CERTIDAO_NASCIMENTO}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12" *ngIf="dependente.FOLHA_CERTIDAO_NASCIMENTO">
    <strong>Folha Certidão de Nascimento: </strong> {{dependente?.FOLHA_CERTIDAO_NASCIMENTO}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12" *ngIf="dependente.LIVRO_CERTIDAO_NASCIMENTO">
    <strong>Livro Certidão de Nascimento: </strong> {{dependente?.LIVRO_CERTIDAO_NASCIMENTO}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12" *ngIf="dependente.CIDADE_CERTIDAO_NASCIMENTO">
    <strong>Cidade Certidão de Nascimento: </strong> {{dependente?.CIDADE_CERTIDAO_NASCIMENTO}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12" *ngIf="dependente.ESTADO_CERTIDAO_NASCIMENTO">
    <strong>Estado Certidão de Nascimento: </strong> {{dependente?.ESTADO_CERTIDAO_NASCIMENTO}}
    <br>
  </div>
</div>
<hr class="col-md-12">