<div class="box-header with-border">
  <h3 class="box-title">Informações do dependente</h3>
  <div class="box-tools pull-right">
          <a [routerLink]="['/novo-dependente']" type="submit" class="btn btn-success" style="margin-right: 50px; color: white">Novo</a>
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
      </button>
  </div>
</div>
<div class="box-body" style>
  <strong>Nome:</strong> {{dependente?.nome}}
  <br>
  <strong>Sobrenome:</strong> {{dependente?.sobrenome}}
  <br>
  <strong>CPF:</strong> {{dependente?.cpf}}
  <br>
  <strong>RG:</strong> {{dependente?.rg}}
  <br>
  <strong>Data de nascimento:</strong> {{dependente?.data_nascimento}}
  <br>
  <h4><strong>Certidão de nascimento</strong></h4>
  <strong>Numero:</strong>{{dependente?.numero_certidao_nascimento}} 
  <br>
  <strong>Folha:</strong> {{dependente?.folha_certidao_nascimento}}
  <br>
  <strong>Livro:</strong> {{dependente?.livro_certidao_nascimento}}
  <br>
  <strong>Cidade:</strong> {{dependente?.cidade}}
  <br>
  <strong>Estado:</strong> {{depdendente?.estado}}
  <br>
</div>
