<div class="col-md-12">
  <div class="col-sm-12 col-xs-12">
    <h4>
      <strong>Informações pessoais</strong>
      <a *ngIf="access" class="icones-editar-excluir"><span id="iconesForm"
          (click)="deleteDependente(dependente.NOME, dependente.SOBRENOME)"><i class="fa fa-close"
            style="color: #dd4b39;"></i>
        </span>
      </a>

      <a *ngIf="access" class="icones-editar-excluir" data-toggle="modal" attr.data-target="#modalUpdateDependente{{dependente?.CPF}}"
        (click)="buscaDependente(dependente.CODIGO_FUNCIONARIO, dependente.NOME, dependente.SOBRENOME)"><span
          id="iconesForm"><i class="fa fa-pencil" style="color: #f39c12;"></i>
        </span>
      </a>
    </h4>
  </div>
  <div class="col-xs-4 col-xs-12 campos-infos">
    
    <strong>Nome: </strong> {{dependente?.NOME}} {{dependente?.SOBRENOME}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12 campos-infos">
    <strong>Data de Nascimento: </strong> {{dependente?.DATA_NASCIMENTO | date: 'dd/MM/yyy'}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12 campos-infos">
    <strong>RG: </strong> {{dependente?.RG | rg}}



    <br>
  </div>
  <div class="col-xs-4 col-xs-12 campos-infos">
    <strong>CPF: </strong> {{dependente?.CPF | cpf}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12 campos-infos" *ngIf="dependente.NUMERO_CERTIDAO_NASCIMENTO">
    <strong>Nº Certidão de Nascimento: </strong> {{dependente?.NUMERO_CERTIDAO_NASCIMENTO | numeroCertNasc}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12 campos-infos" *ngIf="dependente.FOLHA_CERTIDAO_NASCIMENTO">
    <strong>Folha Certidão de Nascimento: </strong> {{dependente?.FOLHA_CERTIDAO_NASCIMENTO | folhaCertNasc}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12 campos-infos" *ngIf="dependente.LIVRO_CERTIDAO_NASCIMENTO">
    <strong>Livro Certidão de Nascimento: </strong> {{dependente?.LIVRO_CERTIDAO_NASCIMENTO | livroCertNasc}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12 campos-infos" *ngIf="dependente.CIDADE_CERTIDAO_NASCIMENTO">
    <strong>Cidade Certidão de Nascimento: </strong> {{dependente?.CIDADE_CERTIDAO_NASCIMENTO | cidadeCertNasc}}
    <br>
  </div>
  <div class="col-xs-4 col-xs-12 campos-infos" *ngIf="dependente.ESTADO_CERTIDAO_NASCIMENTO">
    <strong>Estado Certidão de Nascimento: </strong> {{dependente?.ESTADO_CERTIDAO_NASCIMENTO | estadoCertNasc}}
    <br>
  </div>
</div>
<hr class="col-md-12">

<!--DIV MODAL INICIO-->
<div class="col-sm-12 col-xs-12">
  <!-- Modal -->
  <div class="modal fade" id="modalUpdateDependente{{dependente?.CPF}}" tabindex="-1" role="dialog"
    attr.aria-labelledby="modalUpdateDependente{{dependente?.CPF}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form [formGroup]="updateDependenteForm" novalidate>
            <div class="box-body">
              <div>
                <div class="col-sm-12 col-sm-12" id="formTitle">
                  <h4 class="text-center"><strong>Editar dependente</strong></h4>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-sm-12">
                    <salv-input-container errorMessage="Campo obrigatório" label="Nome">
                      <span class="text-danger">*</span>
                      <input type="text" class="form-control" formControlName="NOME" placeholder="Nome"
                        autocomplete="off" maxlength="50">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-6 col-sm-12">
                    <salv-input-container errorMessage="Campo obrigatório" label="Sobrenome">
                      <span class="text-danger">*</span>
                      <input type="text" class="form-control" formControlName="SOBRENOME" placeholder="Sobrenome"
                        autocomplete="off" maxlength="50">
                    </salv-input-container>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 col-sm-12" style="margin-top: -10px;">
                    <salv-input-container errorMessage="Campo obrigatório" label="Data de nascimento">
                      <span class="text-danger">*</span>
                      <input type="date" class="form-control" formControlName="DATA_NASCIMENTO"
                        placeholder="Data de Nascimento" id="datepicker" autocomplete="off" max="2999-12-31">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-4 col-sm-12 margin-rg-dep" id="inputValidator">
                    <salv-input-container errorMessage="Minimo 9 caracteres" label="RG">
                      <input type="text" class="form-control" formControlName="RG" placeholder="RG" autocomplete="off"
                        mask="00.000.000-A" maxlength="12">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-4 col-sm-12 margin-cpf-dep" id="inputValidator">
                    <salv-input-container errorMessage="Minimo 9 caracteres" label="CPF">
                      <input type="text" class="form-control" formControlName="CPF" placeholder="CPF" autocomplete="off"
                        mask="000.000.000-00" maxlength="14">
                    </salv-input-container>
                  </div>
                </div>
                <hr class="col-md-11">
                <div class="row">
                  <h5 style="margin-left: 35px;"><strong>Certidão de Nascimento</strong></h5>
                  <div class="col-sm-6 col-sm-12" id="inputValidator" style="margin: 1px 0px 0px 10px;">
                    <label>Número</label>
                    <input type="text" class="form-control" formControlName="NUMERO_CERTIDAO_NASCIMENTO"
                      placeholder="Número" autocomplete="off" maxlength="5">
                  </div>
                  <div class="col-sm-5 col-sm-12 margin-folha-dep">
                    <label>Folha</label>
                    <input type="text" class="form-control" formControlName="FOLHA_CERTIDAO_NASCIMENTO"
                      placeholder="Folha" autocomplete="off" maxlength="5">
                  </div>
                  <div class="col-sm-6 col-sm-12" style="margin: 15px 0px 0px 10px">
                    <label>Livro</label>
                    <input type="text" class="form-control" formControlName="LIVRO_CERTIDAO_NASCIMENTO"
                      placeholder="Livro" autocomplete="off" maxlength="3">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-sm-12" style="margin: 15px 0px 0px 10px">
                    <label>Cidade</label>
                    <input type="text" class="form-control" formControlName="CIDADE_CERTIDAO_NASCIMENTO"
                      placeholder="Cidade" autocomplete="off" maxlength="50">
                  </div>
                  <div class="col-sm-5 col-sm-12 margin-estado-dep" style="margin-top: 15px">
                    <label>Estado</label>
                    <select class="form-control" formControlName="ESTADO_CERTIDAO_NASCIMENTO">
                      <option [ngValue]="null">Selecione</option>
                      <option *ngFor="let estado of estados">
                        {{estado}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success"
            (click)="updateDependente(dependente.CODIGO_FUNCIONARIO, dependente.NOME, dependente.SOBRENOME, this.updateDependenteForm.value)"
            [disabled]="!updateDependenteForm.valid" data-dismiss="modal">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL-->
</div>
<!--FIM DIV MODAL-->