<!-- Main content -->
<section class="content">
    <div>
         <div class="form-group">
          <a type="submit" class="btn btn-primary" [routerLink]="['/novo-convenio']">Novo convênio</a>
         </div>
        <!-- Conteudo KAUE -->
        <div class="box box-default table-responsive no-padding" [@conveniosAppeared]="conveniosState">
            <h1>Visualização geral dos convênios</h1>
            <br>
            <!-- /.box-header -->
            <table class="table table-hover">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th style="width: 350px">Ações</th>
                </tr>
                <tr *ngFor="let convenio of convenios">
                    <td>{{convenio.NOME_CONVENIO}}</td>
                    <td>{{convenio.DDD}} {{convenio.TELEFONE}}</td>
                    <td>
                        <button type="submit" class="btn btn-danger botao" (click)="deleteConvenio(convenio.CODIGO); $event.stopPropagation()">Apagar</button>
                        <a type="submit" class="btn btn-warning botao botao-espaço" [routerLink]="['/editar-convenio',convenio.CODIGO]">Editar</a>
                        <a type="submit" class="btn btn-success botao" [routerLink]="['/convenio',convenio.CODIGO]">+ Informações</a>
                    </td>
                </tr>
            </table>

                <!-- /.box -->
            </div>
            <!-- Fim conteudo KAUE -->
        </div>
        <!-- /.row -->
    
</section>