

<div class="box-header with-border">
  <h3 class="box-title">Informações funcionais</h3>
  <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
      </button>
  </div>
</div>
<div class="box-body" style>

  <strong>Cargo:</strong> {{funcionario?.cargo}}
  <br>
  <strong>Data de admissão:</strong> {{funcionario?.data_admissao}}
  <br>
  <strong>Data de demissão:</strong> {{funcionario?.data_demissao}}
  <br>
  <h4><strong>Cadastro de usuario</strong></h4>
  <strong>Email:</strong> {{funcionario?.email}}
  <br>
  <strong>Login:</strong> {{funcionario?.login}}
  <br>
  <strong>Senha:</strong> {{funcionario?.senha}}
  <br>
</div>