<ngx-spinner></ngx-spinner>
<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: #00AE5D;


  }
</style>
<!-- Main content -->
<section class="content">
  <button class="btn btn-success" *ngIf="!Desativados" (click)="reportResidentes(1)" id="printReport"><i
      class="fa fa-print"></i></button>
  <button class="btn btn-success" *ngIf="Desativados" (click)="reportResidentes(0)" id="printReport"><i
      class="fa fa-print"></i></button>
  <div>

    <div class="form-group">
      <a *ngIf="access" type="submit" class="btn btn-primary" [routerLink]="['/residentes/novo-residente']">Novo Residente</a>

      <!-- FILTRO -->
      <div class="btn-group pull-right" style="margin-right: 40px; margin-left: 40px">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Filtro</button>
        <ul class="dropdown-menu" role="menu">
          <input type="checkbox" id="Desativados" [(ngModel)]="Desativados" name="Desativados"
            (click)="residentesInativoss(); ngOnInit()" ng-true-value="YES" ng-false-value="NO" style="margin: 5px">
          <label for="Desativados">Residentes inativos</label>
        </ul>
      </div>
      <!-- FIM DO FILTRO -->

      <!-- PESQUISA -->
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Pesquisar</button>

        <ul class="dropdown-menu" role="menu">
          <div class="input-group" style="margin: 5px">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input input class="form-control" placeholder="Pesquisar" type="text" name="search" [(ngModel)]="filter"
              style="height: 40px; width: 250px">
          </div>
        </ul>
      </div>
      <!-- FIM PESQUISA-->

    </div>
    <br>

    <div class="box box-default table-responsive no-padding" [@residentesAppeared]="residentesState">
      <h1>Visualização geral dos residentes</h1>

      <br>

      <!-- <!--table class="table table-hover">
        <tr>
          <th>Nome</th>
          <th>Apelido</th>
          <th>CPF</th>
          <th>RG</th>
          <th class="col-sm-4">Ações</th>
        </tr>
        <tr *ngFor="let residente of residentes | paginate: { itemsPerPage: 10, currentPage: paginaAtual}">
          <td>{{residente.PESSOA.NOME}} {{residente.PESSOA.SOBRENOME}}</td>
          <td>{{residente.APELIDO}}</td>
          <td>{{residente.PESSOA.CPF | cpf}}</td>
          <td>{{residente.PESSOA.RG | rg}}</td>

          <td>
            <button type="submit" class="btn btn-danger botao"
              (click)="deleteResidente(residente.CODIGO_RESIDENTE); $event.stopPropagation()">Inativar</button>
            <a type="submit" class="btn btn-success botao" [routerLink]="['/residente', residente.CODIGO_RESIDENTE]">+
              Opções</a>
          </td>
        </tr>

      </table>
      <pagination-controls class="my-pagination " (pageChange)="paginaAtual = $event" previousLabel="Anterior"
        nextLabel="Próximo" screenReaderPaginationLabel="Paginação" screenReaderPageLabel="Página"
        screenReaderCurrentLabel="Voce esta na página"></pagination-controls-->

      <div ng [hidden]="Desativados">
        <table class="table table-hover">
          <tr>
            <th>Nome</th>
            <th>Apelido</th>
            <th>CPF</th>
            <th>RG</th>
            <th class="col-sm-4">Ações</th>
          </tr>
          <tr
            *ngFor="let residente of residentes | filter: filter : searchString | paginate: { itemsPerPage: 10, currentPage: paginaAtual} let i = index">
            <td>{{residente.RESIDENTE_NOME}} {{residente.RESIDENTE_SOBRENOME}}</td>
            <td>{{residente.APELIDO}}</td>
            <td>{{residente.RESIDENTE_CPF | cpf}}</td>
            <td>{{residente.RESIDENTE_RG | rg}}</td>

            <td>
              <button *ngIf="access" type="submit" class="btn btn-danger botao" data-toggle="modal"
                (click)="getResidenteID(residente.CODIGO);" data-target="#deletarResidente">Inativar</button>
              <!-- <a type="submit" class="btn btn-warning botao"
                [routerLink]="['/editar-residente', residente.CODIGO_RESIDENTE]">Editar</a> -->
              <a type="submit" class="btn btn-success botao" [routerLink]="['/residentes', residente.CODIGO]">+
                Opções</a>
            </td>
          </tr>

        </table>
        <pagination-controls class="my-pagination " (pageChange)="paginaAtual = $event" previousLabel="Anterior"
          nextLabel="Próximo" screenReaderPaginationLabel="Paginação" screenReaderPageLabel="Página"
          screenReaderCurrentLabel="Voce esta na página"></pagination-controls>
      </div>


      <div ng [hidden]="!Desativados">
        <table class="table table-hover">
          <tr>
            <th>Nome</th>
            <th>Apelido</th>
            <th>CPF</th>
            <th>RG</th>
            <th class="col-sm-4">Ações</th>
          </tr>

          <tr *ngFor="let residente of residentesInativos  | filter : filter : searchString let i = index">
            <td>{{residente.RESIDENTE_NOME}} {{residente.RESIDENTE_SOBRENOME}}</td>
            <td>{{residente.APELIDO}}</td>
            <td>{{residente.RESIDENTE_CPF | cpf}}</td>
            <td>{{residente.RESIDENTE_RG | rg}}</td>

            <td>
              <button *ngIf="access" type="submit" class="btn btn-primary botao"
                (click)="ativarResidente(residente.CODIGO); $event.stopPropagation()">Ativar</button>
              <a type="submit" class="btn btn-success botao" [routerLink]="['/residentes', residente.CODIGO]">
                +Opções</a>
            </td>
          </tr>

        </table>

        <div class="botao">
          <label for="Desativados"><a class=" btn btn-success botao ">Voltar para ativos</a></label>
        </div>
      </div>

      <!-- Fim da tabela  -->
    </div>

  </div>
  <!-- /.row -->
</section>

<!-- Modal -->
<div class="modal fade" id="deletarResidente" tabindex="-1" role="dialog" aria-labelledby="deletarResidenteLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-sm-12 col-sm-12" id="formTitle">
          <h4 class="text-center"><strong>Deseja inativar o residente?</strong></h4>
        </div>
        <form [formGroup]="deleteResidenteForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <salv-input-container errorMessage="Campo Obrigatório" label="Motivo do Desacolhimento">
                <span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="MOTIVO_DESACOLHIMENTO"
                  placeholder="Motivo do Desacolhimento" maxlength="500">
              </salv-input-container>
            </div>
            <div class="col-md-6">
              <salv-input-container errorMessage="Campo Obrigatório" label="Data de Desacolhimento">
                <span class="text-danger">*</span>
                <div class="input-group date">
                  <input type="date" max="2999-12-31" class="form-control pull-right" id="datepicker"
                    formControlName="DATA_DESACOLHIMENTO">
                </div>
              </salv-input-container>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary botao" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success botao" data-dismiss="modal"
          (click)="deleteResidente(deleteResidenteForm.value)"
          [disabled]="!deleteResidenteForm.valid">Confirmar</button>
      </div>
    </div>
  </div>
</div>