#remindMyPassword{
    color: #009954;
    text-decoration: underline;
    line-height: 1cm;
  }
.esq-sen-log {
  text-align: center;
}

.icon-log-input{
  top: 20px !important;
}

  #printReport{
    margin-top: 10px;
    float: right;
  }

  .box-editar{
    margin-top: 55px;
  }
  .label{
    font-size: 100% !important;
  }
  
  .botao{
    padding: .3em .9em;
    text-align: right;
    margin-left: 3px;
  }
  
  a{
    color: #ffffff;
    cursor: pointer;
  }
  
  .form-group {
    margin: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  .breadcrump-color {
    color: black;
  }

  /*Centralizar o conteudo da pagina not-found*/
  .erro{
    text-align: center;
  }

  #formTitle{
    margin-left: -16px;
  }

  #inputValidator{
    margin-top: -10px;
    margin-left: -10px;
  }

  .user-menu>span {
    /**/
    position: relative;
    display: block;
    padding: 15px 15px;
    color: #fff
  }

  .user-menu>a {
    color: #fff;
    cursor: pointer;
  }

  @media (max-width: 991px) {
    .navbar-custom-menu {
      display: block;
      position: absolute;
      top: 0;
      right: 40px;
    }
  }

  .ngx-pagination{
    float: right;
    margin-right: 100px;
  }

  .box.box-solid.box-default>.box-header a, .box.box-solid.box-default>.box-header .btn{
    color: white;
  }