<section class="content">
  <!-- Conteudo NATHAN -->
  <div class="box">
    <h1 align="center">Realizar acompanhamento</h1>
    <hr>

    <form role="form">
      <div class="box-body">
        <div class="form-group">

          <div class="col-sm-8 col-xs-12">
            <label>Residentes que participaram da atividade </label><br>
            <select name="selections[]" class="dix" multiple="multiple" style="width: 100%;">
              <option value="MR">Mária do Rosário</option>
              <option>Sergio Reis</option>
              <option>João Cancelo</option>
              <option>Everaldo Oliveira</option>
              <option>Conceição Souza</option>
            </select>
          </div>

          <div class="col-sm-3 col-xs-12">
            <label for="exampleInputPassword1"> <i class="fa fa-calendar"></i> Data
              da
              atividade</label>
            <div class="input-group date">
              <input type="date" class="form-control pull-right" id="datepicker">
            </div>
            <br>
          </div>

          <div class="col-sm-10 col-xs-12">
            <label>Atividade realizada</label>
            <textarea class="form-control" rows="3" placeholder="Descrição da atividade realizada"></textarea>
            <br>
          </div>

          <div class="col-sm-8 col-xs-12">
            <label>Funcionários que realizaram a atividade </label><br>
            <select name="selections[]" class="dix" multiple="multiple" style="width: 100%;">
              <option value="CA">Dr(a) Camila</option>
              <option>Dr Saulo</option>
              <option>Dr Camilo</option>
            </select>
          </div>
        </div>
        <!--form group-->

        <div class="col-sm-12 col-xs-12">
          <br>
          <a style="margin-left: 10px" type="submit" class="btn btn-success botao pull-right" href="visualizacaoAcompanhamento.html">Salvar</a>
          <a type="submit" class="btn btn-default botao pull-right" href="visualizacaoAcompanhamento.html">Voltar</a>
        </div>
      </div>

    </form>
  </div>
  <!-- Fim conteudo NATHAN -->
  <!-- /.row -->
</section>