<ngx-spinner></ngx-spinner>
<section class="content">
  <!-- Conteudo NATHAN -->
  <div class="box" [@novo-acompanhamentoAppeared]="novoacompanhamentoState">
    <h1 align="center">Adicionar novo acompanhamento</h1>
    <hr>

    <form [formGroup]="novoAcompanhamentoForm" role="form" >
      <div class="box-body">
        <div class="form-group" >


          <div class="col-sm-8 col-xs-12" id="inputValidator">
              <salv-input-container errorMessage="Campo Obrigatório">
            <label>Residentes que participaram da atividade </label><br>
            <ng-multiselect-dropdown [placeholder]="'Selecione os residentes'" [data]="residentes"
            formControlName="residentes"            
              [disabled]="disabled" [settings]="dropdownSettings" (onSelect)="onResidenteSelect($event)">
              
            </ng-multiselect-dropdown>
            </salv-input-container>
          </div>


          <div class="col-sm-3 col-xs-12" id="inputValidator">
              <salv-input-container errorMessage="Campo Obrigatório">
            <label for="exampleInputPassword1"> <i class="fa fa-calendar"></i> Data
              da
              atividade</label>
            <div class="input-group date">
              <input type="date" class="form-control pull-right" id="datepicker" formControlName="DATA_ACOMPANHAMENTO" errorMessage="Campo Obrigatório" max="2999-12-31">
            </div>
            <br>
              </salv-input-container>
          </div>

          <div class="col-sm-10 col-xs-12" id="inputValidator">
            
              <salv-input-container errorMessage="Campo Obrigatório">
            <label>Atividade realizada</label>
            
            <textarea class="form-control" required rows="3" formControlName="ATIVIDADE" 
            placeholder="Descrição da atividade realizada" id="ATIVIDADE"  maxlength="500" 
              auatocomplete="off" #ATIVIDADE></textarea>
              <small class="form-text text-muted"><code>{{ATIVIDADE.value.length}}</code> de <code>{{maxATIVIDADELength}}</code>500 caracteres</small>
            </salv-input-container>
            <br>
          </div>

          <div class="col-sm-8 col-xs-12" id="inputValidator">
              <salv-input-container errorMessage="Campo Obrigatório">
            <label>Funcionários que realizaram a atividade </label><br>
            <ng-multiselect-dropdown name="funcionarios"
            [placeholder]="'Selecione os funcionários'" [data]="funcionarios"
            formControlName="funcionarios"
            [disabled]="disabled"
            [settings]="dropdownSettings2"
            (onSelect)="onFuncionarioSelect($event)"
            >
            </ng-multiselect-dropdown>
          </salv-input-container>
          </div>


        </div>
        <!--form group-->

        <!--Botão-->
        <div class="col-sm-12 col-xs-12">
          <br>
          <button (click)="novoAcompanhamento(novoAcompanhamentoForm.value); NovoAcompanhamentoResidente(); NovoAcompanhamentoFuncionario()" style="margin-left: 10px" class="btn btn-success botao pull-right" [disabled]="!novoAcompanhamentoForm.valid"
                  
            [routerLink]="['/acompanhamentos']">Finalizar cadastro</button>

          <button type="submit" (click)="novoAcompanhamentoForm()" class="btn btn-default botao pull-right" 
          [routerLink]="['/acompanhamentos']">Voltar</button>
        </div>
        <!--Fim botão-->

      </div>

    </form>
  </div>
  <!-- Fim conteudo NATHAN -->
  <!-- /.row -->
</section>

<script src="script.js"></script>