<section class="content">

  <div class="box" [@convenio-residenteAppeared]="convenioresidenteState">
    <h1>Adicionar novo convênio</h1>
    <hr>

    <form role="form" [formGroup]="convenioResidenteForm">
      <div class="box-body">

        <div class="form-group">
          <div class="col-sm-12 col-xs-12">
            <h4><strong>Informações do convênio</strong></h4>
          </div>

          <div class="col-sm-4 col-sm-12">
            <label>Nome</label>
            <select class="form-control" formControlName="CONVENIO_CODIGO">
              <option [ngValue]="null">Selecione</option>
              <option *ngFor="let convenio of convenios" [value]="convenio.CODIGO">{{convenio.NOME_CONVENIO}}</option>
            </select>

          </div>

          <div class="col-sm-8 col-xs-12">
            <br>
            <button type="submit" class="btn btn-default botao" data-toggle="modal" data-target="#modalConvenio">Não
              encontrou o
              convênio que desejava? Adicione um agora</button>
            <br><br>
          </div>

          <div class="col-md-12"><br></div>

          <div class="col-sm-4 col-xs-12">
            <br>
            <label>Número do Convênio</label>
            <input type="text" class="form-control" formControlName="NUMERO_CONVENIO"
              placeholder="Nº de inscrição do convênio" autocomplete="off" maxlength="11">
          </div>

          <div class="col-sm-4 col-xs-12">
            <br>
            <label>Nome do Titular</label>
            <input type="text" class="form-control" formControlName="TITULAR_CONVENIO" placeholder="Nome do Titular"
              autocomplete="off" maxlength="100">
          </div>

          <div class="col-sm-4 col-xs-12">
            <br>
            <label>Parentesco Titular</label>
            <input type="text" class="form-control" formControlName="PARENTESCO_TITULAR"
              placeholder="Parentesco Titular" autocomplete="off" maxlength="100">
          </div>

          <div class="col-md-12"><br></div>
        </div>
        <!--form group-->

        <div class="col-sm-12 col-xs-12">
          <button (click)="convenioResidente(convenioResidenteForm.value)" style="margin-left: 10px"
            class="btn btn-success botao pull-right" [disabled]="!convenioResidenteForm.valid">Finalizar
            cadastro</button>
          <button type="submit" class="btn btn-default botao pull-right"
            (click)="voltarFamiliar(convenioResidenteForm.value)" [routerLink]="['/familiar-residente']">Voltar</button>
        </div>
      </div>
    </form>
  </div>
</section>

<div class="modal fade" id="modalConvenio" tabindex="-1" role="dialog" aria-labelledby="modalConvenio"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-sm-12 col-sm-12" id="formTitle">
          <h4 class="text-center"><strong>Adicionar convênio</strong></h4>
        </div>

        <form role="form" [formGroup]="novoConvenioForm">
          <div class="box-body">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6 col-sm-12" id="inputValidator">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Nome">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" formControlName="NOME_CONVENIO" placeholder="Nome"
                      autocomplete="off" maxlength="100">
                  </salv-input-container>
                </div>
                <div class="col-sm-6 col-sm-12" id="inputValidator">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Tipo do convênio">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" formControlName="TIPO_CONVENIO"
                      placeholder="Tipo do convênio" autocomplete="off" maxlength="100">
                  </salv-input-container>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-8 col-sm-12" id="inputValidator" formGroupName="ENDERECO">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Endereço">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" formControlName="ENDERECO" placeholder="Endereço"
                      autocomplete="off" maxlength="100">
                  </salv-input-container>
                </div>
                <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECO">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Número">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" formControlName="NUMERO" placeholder="Número"
                      autocomplete="off" maxlength="5" mask="00000">
                  </salv-input-container>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-6 col-sm-12" id="inputValidator" formGroupName="ENDERECO">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Bairro">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" formControlName="BAIRRO" placeholder="Bairro"
                      autocomplete="off" maxlength="50">
                  </salv-input-container>
                </div>
                <div class="col-sm-6 col-sm-12" formGroupName="ENDERECO">
                  <label>Complemento</label>
                  <input type="text" class="form-control" formControlName="COMPLEMENTO" placeholder="Complemento"
                    autocomplete="off" maxlength="50">
                </div>

              </div>
              <br />
              <div class="row">
                <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECO">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Cidade">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" formControlName="CIDADE" placeholder="Cidade"
                      autocomplete="off" maxlength="50">
                  </salv-input-container>
                </div>
                <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECO">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Estado">
                    <span class="text-danger">*</span>
                    <select class="form-control" formControlName="ESTADO">
                      <option value="" label="Selecione" selected="selected"></option>
                      <option *ngFor="let estado of estados">{{estado}}</option>
                    </select>
                  </salv-input-container>
                </div>
                <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="ENDERECO">
                  <salv-input-container errorMessage="Campo Obrigatório" label="CEP">
                    <span class="text-danger">*</span>
                    <input type="text" mask="00.000-000" class="form-control" formControlName="CEP" placeholder="CEP"
                      autocomplete="off" maxlength="10">
                  </salv-input-container>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-6 col-sm-12" formGroupName="ENDERECO">
                  <label>Referência</label>
                  <input type="text" class="form-control" formControlName="REFERENCIA" placeholder="Referência"
                    autocomplete="off" maxlength="100">
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-sm-12" id="inputValidator" formGroupName="TELEFONE">
                  <salv-input-container errorMessage="Campo Obrigatório" label="DDD">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" formControlName="DDD" placeholder="DDD" autocomplete="off"
                      maxlength="2" mask="000">
                  </salv-input-container>
                </div>
                <div class="col-sm-6 col-sm-12" id="inputValidator" formGroupName="TELEFONE">
                  <salv-input-container errorMessage="Campo Obrigatório" label="Telefone">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" formControlName="NUMERO" placeholder="Telefone"
                      autocomplete="off" maxlength="9" mask="000000000">
                  </salv-input-container>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal"
          (click)="novoConvenio(novoConvenioForm.value)" [disabled]="!novoConvenioForm.valid">Salvar</button>
      </div>
    </div>
  </div>
</div>