<!-- Conteudo NATHAN -->
<div class="box" [@convenio-residenteAppeared]="convenioresidenteState">
  <h1>Adicionar convênio</h1>
  <hr>

  <form role="form" [formGroup]="convenioResidenteForm">
    <div class="box-body">

      <div class="form-group">
        <div class="col-sm-12 col-xs-12">
          <h4><strong>Convênios</strong></h4>
        </div>

        <div class="col-sm-4 col-xs-12">
          <select class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
            <option>Santa Casa</option>
            <option>Unimed</option>
            <option>Trilago</option>
            <option>Delaware</option>
            <option>Mais Atendimento</option>
            <option>Bom Estar</option>
          </select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr"
            style="width: 100%;"><span class="selection"><span class="select2-selection__rendered" id="select2-1o66-container"></span><span
                class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span
            class="dropdown-wrapper" aria-hidden="true"></span>
        </div>
        <div class="col-sm-1 col-xs-12">
          <a type="submit" class="btn btn-success botao" href="convenioInexist3.html">+</a>
        </div>

        <div class="col-sm-8 col-xs-12">
          <br>
        </div>

        <div class="col-sm-4 col-xs-12">
          <label for="exampleInputPassword1">Nº de inscrição </label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nº de inscrição do convênio">
        </div>
        <div class="col-sm-12 col-xs-12">
          <br>
        </div>

        <div class="col-sm-12 col-xs-12">
          <label>Titular do convênio</label>
          <div class="checkbox" style="margin-left: 13px;">
            <label>
              <input type="checkbox">
              Residente
            </label>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox">
            </span>
            <input type="text" class="form-control" placeholder="Nome titular">
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <input type="text" class="form-control" placeholder="Tipo parentesco">
          <br>
        </div>


      </div>
      <!--form group-->

      <div class="col-sm-12 col-xs-12">
        <a style="margin-left: 10px" type="submit" (click)="convenioResidente(convenioResidenteForm.value)" class="btn btn-success botao pull-right">Finalizar
          cadastro</a>
        <a type="submit" class="btn btn-default botao pull-right" [routerLink]="['/familiar-residente']">Voltar</a>
      </div>
    </div>
  </form>
</div>

<!-- Fim conteudo NATHAN -->