<section class="content">

<div class="box" [@convenio-residenteAppeared]="convenioresidenteState">
  <h1>Adicionar convênio</h1>
  <hr>

  <form role="form">
    <div class="box-body">

      <div class="form-group">
        <div class="col-sm-12 col-xs-12">
          <h4><strong>Informações do convênio</strong></h4>
        </div>

        <div class="col-sm-4 col-sm-12">
          <label>Nome</label>
          <select class="form-control" formControlName="estadoCivil">
            <option value="" label="Nome do convênio" disabled selected="selected"></option>
            <option *ngFor="let nome of nomes" [value]="nome.value">{{nome.option}}</option>
          </select>
        </div>
        
        <div class="col-sm-3 col-xs-12">
          <br>
          <button style="margin-top: 8px" type="submit" class="btn btn-success botao" [routerLink]="['/novo-convenio']">+</button>
        </div>

        
        <div class="col-sm-4 col-xs-12">
          <label for="exampleInputPassword1">Nº de inscrição </label>
          <input type="text" class="form-control" formControlName="numeroInscricao" placeholder="Nº de inscrição do convênio" autocomplete="off">
        </div>
        <div class="col-sm-12 col-xs-12">
          <br>
        </div>

        <div class="col-sm-12 col-xs-12">
          <label>Titular do convênio</label>
          <div class="checkbox" style="margin-left: 13px;">
            <label>
              <input type="checkbox">
              Residente
            </label>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox">
            </span>
            <input type="text" class="form-control" placeholder="Nome titular">
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <input type="text" class="form-control" placeholder="Tipo parentesco">
          <br>
        </div>


      </div>
      <!--form group-->

      <div class="col-sm-12 col-xs-12">
        <button (click)="convenioResidente(convenioResidenteForm.value)" style="margin-left: 10px" class="btn btn-success botao pull-right" [routerLink]="['/residentes']">Finalizar
          cadastro</button>
        <button type="submit" class="btn btn-default botao pull-right" [routerLink]="['/familiar-residente']">Voltar</button>
      </div>
    </div>
  </form>
</div>
</section>
