<div class="box box-default box-solid">
  <div class="box-header with-border">

    <h3 class="box-title">Informações Pessoais</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus">

        </i>
      </button>
    </div>
  </div>
  <div class="box-body" style>
    <strong>Nome: </strong> {{residente?.nome}} <br>
    <strong>Apelido: </strong> {{residente?.apelido}} <br>
    <strong>CPF: </strong> {{residente?.cpf}} <br>
    <strong>RG: </strong> {{residente?.rg}} <br>
    <strong>Sexo: </strong> {{residente?.sexo | sexo}} <br>
    <strong>Estado Civil: </strong> {{residente?.estado_civil | estadoCivil}} <br>
    <strong>Data de Nascimento: </strong> {{residente?.data_nascimento}} <br>
    <strong>Religião: </strong> {{residente?.religiao}} <br>
    <strong>Escolaridade: </strong> {{residente?.escolaridade | escolaridade}} <br>
  </div>
</div>