<div class="box box-default box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">Informações do Residente</h3>

    <div class="box-tools pull-right">
      <a type="submit" class="btn btn-warning botao" data-toggle="modal" data-target="#modalEditarResidente">Editar</a>
    </div>


  </div>
  <div class="box-body">
    <div class="row col-md-12">

      <div class="col-md-12">
        <div class="col-sm-12 col-xs-12">
          <h4><strong>Informações pessoais</strong></h4>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Nome: </strong> {{residente?.PESSOA.NOME}} {{residente?.PESSOA.SOBRENOME}}<br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Apelido: </strong> {{residente?.APELIDO | apelido}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>CPF: </strong> {{residente?.PESSOA.CPF | cpf}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>RG: </strong> {{residente?.PESSOA.RG | rg}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Sexo: </strong> {{residente?.PESSOA.SEXO | sexo}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Estado Civil: </strong> {{residente?.PESSOA.ESTADO_CIVIL | estadoCivil}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Data de Nascimento: </strong> {{residente?.PESSOA.DATA_NASCIMENTO | date: 'dd/MM/yyy' | data}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Religião: </strong> {{residente?.PESSOA.RELIGIAO | religiao}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Escolaridade: </strong> {{residente?.PESSOA.ESCOLARIDADE | escolaridade}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Profissão: </strong> {{residente?.PROFISSAO | profissao}} <br>
        </div>
      </div>

      <hr class="col-md-12">

      <div class="col-md-12">
        <div class="col-sm-12 col-xs-12">
          <h4><strong>Eleitoral</strong></h4>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Título de Eleitor: </strong> {{residente?.TITULO_ELEITOR | tituloEleitor}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Zona Eleitoral: </strong> {{residente?.ZONA_ELEITORAL | zonaEleitoral}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Seção Eleitoral: </strong> {{residente?.SECAO_ELEITORAL | secaoEleitoral}} <br>
        </div>
      </div>

      <hr class="col-md-12">

      <div class="col-md-12">
        <div class="col-sm-12 col-xs-12">
          <h4><strong>Certidão de Nascimento</strong></h4>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Nº Certidão de Nascimento: </strong> {{residente?.NUMERO_CERTIDAO_NASCIMENTO | numeroCertNasc}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Folha: </strong> {{residente?.FOLHA_CERTIDAO_NASCIMENTO | folhaCertNasc}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Livro: </strong> {{residente?.LIVRO_CERTIDAO_NASCIMENTO | livroCertNasc}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Cidade: </strong> {{residente?.CIDADE_CERTIDAO_NASCIMENTO | cidadeCertNasc}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Estado: </strong> {{residente?.ESTADO_CERTIDAO_NASCIMENTO | estadoCertNasc}} <br>
        </div>
      </div>

      <hr class="col-md-12">

      <div class="col-md-12">
        <div class="col-sm-12 col-xs-12">
          <h4><strong>INSS</strong></h4>
        </div>

        <div class="col-xs-3 col-xs-12">
          <strong>Nº: </strong> {{residente?.NUMERO_INSS | numeroInss}} <br>
        </div>

        <div class="col-xs-3 col-xs-12">
          <strong>Banco: </strong> {{residente?.BANCO_INSS}} <br>
        </div>

        <div class="col-xs-3 col-xs-12">
          <strong>Agência: </strong> {{residente?.AGENCIA_INSS}} <br>
        </div>

        <div class="col-xs-3 col-xs-12">
          <strong>Conta: </strong> {{residente?.CONTA_INSS}} <br>
        </div>

        <div class="col-xs-3 col-xs-12">
          <strong>Valor: </strong> {{residente?.VALOR_INSS}} <br>
        </div>

        <div class="col-xs-3 col-xs-12">
          <strong>Situação: </strong> {{residente?.SITUACAO_INSS | situacaoInss}} <br>
        </div>

        <div class="col-xs-3 col-xs-12">
          <strong>Prova de Vida: </strong> {{residente?.PROVA_VIDA_INSS | date: 'dd/MM/yyy'}} <br>
        </div>
      </div>

      <hr class="col-md-12">

      <div class="col-md-12">
        <div class="col-sm-12 col-xs-12">
          <h4><strong>Outros</strong></h4>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Cartão SUS: </strong> {{residente?.CARTAO_SUS | cartaoSUS}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Cartão SAMS: </strong> {{residente?.CARTAO_SAMS | cartaoSams}} <br>
        </div>

        <div class="col-xs-4 col-xs-12">
          <strong>Data de Acolhimento: </strong> {{residente?.DATA_ACOLHIMENTO | date: 'dd/MM/yyy'}} <br>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- MODAL EDITAR RESIDENTE -->
<div class="modal fade" id="modalEditarResidente" tabindex="-1" role="dialog" aria-labelledby="modalEditarResidente"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="novoResidenteForm" novalidate>
          <div class="box-body">
            <div>
              <div class="form-group">
                <!--INFORMAÇÕES PESSOAIS INICIO-->
                <div class="col-sm-12 col-sm-12" id="formTitle">
                  <h4><strong>Informações pessoais</strong></h4>
                </div>
                <div class="row">
                  <div class="col-sm-3 col-sm-12" id="inputValidator" formGroupName="PESSOA">
                    <salv-input-container errorMessage="Campo Obrigatório" label="Nome">
                      <span class="text-danger">*</span>
                      <input type="text" class="form-control" formControlName="NOME" placeholder="Nome"
                        autocomplete="off" maxlength="50">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-3 col-sm-12" id="inputValidator" formGroupName="PESSOA">
                    <salv-input-container errorMessage="Campo Obrigatório" label="Sobrenome">
                      <span class="text-danger">*</span>
                      <input type="text" class="form-control" formControlName="SOBRENOME" placeholder="Sobrenome"
                        autocomplete="off" maxlength="50">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-3 col-sm-12">
                    <label>Apelido </label>
                    <input type="text" class="form-control" formControlName="APELIDO" placeholder="Apelido"
                      autocomplete="off" maxlength="50">
                  </div>
                  <div class="col-sm-3 col-sm-12">
                    <label>Profissão </label>
                    <input type="text" class="form-control" formControlName="PROFISSAO" placeholder="Profissão"
                      autocomplete="off" maxlength="100">
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3 col-sm-12" id="inputValidator" formGroupName="PESSOA">
                    <salv-input-container errorMessage="Minimo 11 caracteres" label="CPF">
                      <input type="text" mask="000.000.000-00" class="form-control" formControlName="CPF"
                        placeholder="CPF" autocomplete="off">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-3 col-sm-12" id="inputValidator" formGroupName="PESSOA">
                    <salv-input-container errorMessage="Minimo 9 caracteres" label="RG">
                      <input type="text" mask="00.000.000-A" class="form-control" formControlName="RG" placeholder="RG"
                        autocomplete="off">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-3 col-sm-12" formGroupName="PESSOA">
                    <label>Estado Civil </label>
                    <select class="form-control" formControlName="ESTADO_CIVIL">
                      <option value="" label="Selecione" disabled selected="selected"></option>
                      <option *ngFor="let estadoCivil of estadosCivil" [value]="estadoCivil.value">
                        {{estadoCivil.option}}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-3 col-sm-12" formGroupName="PESSOA">

                    <label>Sexo</label>
                    <select class="form-control" formControlName="SEXO">
                      <option value="" label="Selecione" disabled selected="selected"></option>
                      <option *ngFor="let sexo of sexos" [value]="sexo.value">{{sexo.option}}</option>
                    </select>

                  </div>
                </div>
                <br />

                <div class="row">
                  <div class="col-sm-4 col-sm-12" formGroupName="PESSOA">
                    <label>Religião </label>
                    <select class="form-control" formControlName="RELIGIAO">
                      <option value="" label="Selecione" disabled selected="selected"></option>
                      <option *ngFor="let religiao of religioes" [value]="religiao.value">{{religiao.option}}</option>
                    </select>
                  </div>
                  <div class="col-sm-4 col-sm-12" formGroupName="PESSOA">
                    <label>Escolaridade </label>
                    <select class="form-control" formControlName="ESCOLARIDADE">
                      <option value="" label="Selecione" disabled selected="selected"></option>
                      <option *ngFor="let escolaridade of escolaridades" [value]="escolaridade.value">
                        {{escolaridade.option}}</option>
                    </select>
                  </div>
                  <div class="col-sm-4 col-sm-12" formGroupName="PESSOA">
                    <label>Data de Nascimento </label>
                    <div class="input-group date">
                      <input type="date" class="form-control pull-right" id="datepicker"
                        formControlName="DATA_NASCIMENTO" max="2999-12-31">
                    </div>
                    <br>
                  </div>
                </div>
                <hr>
                <!--INFORMAÇÕES PESSOAIS FINAL-->

                <!--CERTIDÃO DE NASCIMENTO INICIO-->
                <div class="col-sm-12 col-sm-12" id="formTitle">
                  <h4><strong>Certidão de Nascimento </strong></h4>
                </div>

                <div class="row">
                  <div class="col-sm-4 col-sm-12">
                    <salv-input-container label="Número">
                      <input type="text" mask="0*" class="form-control" formControlName="NUMERO_CERTIDAO_NASCIMENTO"
                        placeholder="Número" autocomplete="off" maxlength="5">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-4 col-sm-12">
                    <label>Folha </label>
                    <input type="text" class="form-control" formControlName="FOLHA_CERTIDAO_NASCIMENTO"
                      placeholder="Folha" autocomplete="off" maxlength="5">
                  </div>
                  <div class="col-sm-4 col-sm-12">
                    <label>Livro </label>
                    <input type="text" class="form-control" formControlName="LIVRO_CERTIDAO_NASCIMENTO"
                      placeholder="Livro" autocomplete="off" maxlength="3">
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3 col-sm-12">
                    <label>Cidade </label>
                    <input type="text" class="form-control" formControlName="CIDADE_CERTIDAO_NASCIMENTO"
                      placeholder="Cidade" autocomplete="off" maxlength="50">
                  </div>
                  <div class="col-sm-2 col-sm-12">
                    <label>Estado </label>
                    <select class="form-control" formControlName="ESTADO_CERTIDAO_NASCIMENTO">
                      <option value="" label="Selecione" disabled selected="selected"></option>
                      <option *ngFor="let estado of estados">{{estado}}</option>
                    </select>
                    <br>
                  </div>
                </div>
                <hr>
                <!--CERTIDÃO DE NASCIMENTO FINAL-->

                <!--SEÇÃO ELEITORAL INICIO-->
                <div class="col-sm-12 col-sm-12" id="formTitle">
                  <h4><strong>Eleitoral</strong></h4>
                </div>
                <div class="row">
                  <div class="col-sm-4 col-sm-12">
                    <salv-input-container label="Título">
                      <input type="text" class="form-control" formControlName="TITULO_ELEITOR" placeholder="Título"
                        autocomplete="off" maxlength="12">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-4 col-sm-12">
                    <label>Zona </label>
                    <input type="text" class="form-control" formControlName="ZONA_ELEITORAL" placeholder="Zona"
                      autocomplete="off" maxlength="3">
                  </div>
                  <div class="col-sm-4 col-sm-12">
                    <label>Seção </label>
                    <input type="text" class="form-control" formControlName="SECAO_ELEITORAL" placeholder="Seção"
                      autocomplete="off" maxlength="3">
                    <br>
                  </div>
                </div>
                <hr>
                <!--SEÇÃO ELEITORAL FINAL-->

                <!--INSS INICIO-->
                <div class="col-sm-12 col-sm-12" id="formTitle">
                  <h4><strong>INSS </strong></h4>
                </div>
                <div class="row">
                  <div class="col-sm-4 col-sm-12">
                    <salv-input-container label="Número">
                      <input type="text" mask="0*" class="form-control" formControlName="NUMERO_INSS"
                        placeholder="Número" autocomplete="off" maxlength="11">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-3 col-sm-12">
                    <label for="exampleInputPassword1">Banco </label>
                    <input type="text" class="form-control" formControlName="BANCO_INSS" placeholder="Banco"
                      autocomplete="off" maxlength="50">
                  </div>
                  <div class="col-sm-2 col-smm-12">
                    <label>Agência </label>
                    <input type="text" class="form-control" formControlName="AGENCIA_INSS" placeholder="Agência"
                      autocomplete="off" maxlength="50">
                  </div>
                  <div class="col-sm-3 col-sm-12">
                    <salv-input-container label="Conta">
                      <input type="text" class="form-control" formControlName="CONTA_INSS" placeholder="Conta"
                        autocomplete="off" maxlength="50">
                    </salv-input-container>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-4 col-sm-12">
                    <label for="exampleInputPassword1">Situação </label>
                    <select class="form-control" formControlName="SITUACAO_INSS">
                      <option value="" label="Selecione" disabled selected="selected"></option>
                      <option *ngFor="let situacao of situacoesInss" [value]="situacao.value">{{situacao.option}}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-3 col-sm-12">
                    <label>Valor </label>
                    <input type="text" class="form-control" formControlName="VALOR_INSS" placeholder="Valor"
                      autocomplete="off" maxlength="12" placeholder="R$ 0,00">
                  </div>
                  <div class="col-sm-3 col-sm-12">
                    <label>Prova de vida </label>
                    <div class="input-group date">
                      <input type="date" class="form-control pull-right" id="datepicker"
                        formControlName="PROVA_VIDA_INSS">
                    </div>
                    <br>
                  </div>
                </div>
                <hr>
                <!--INSS FINAL-->

                <!--OUTROS INICIO-->
                <div class="col-sm-12 col-sm-12" id="formTitle">
                  <h4><strong>Outros </strong></h4>
                </div>
                <div class="row">
                  <div class="col-sm-4 col-sm-12">
                    <salv-input-container label="Cartão SAMS">
                      <input type="text" class="form-control" formControlName="CARTAO_SAMS"
                        placeholder="Número do Cartão SAMS" maxlength="16">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-4 col-sm-12">
                    <salv-input-container label="Cartão SUS">
                      <input type="text" class="form-control" formControlName="CARTAO_SUS"
                        placeholder="Número do Cartão SUS" maxlength="50">
                    </salv-input-container>
                  </div>
                  <div class="col-sm-3 col-sm-12" id="inputValidator">
                    <salv-input-container errorMessage="Campo Obrigatório" label="Data de Acolhimento">
                      <span class="text-danger">*</span>
                      <div class="input-group date">
                        <input type="date" max="2999-12-31" class="form-control pull-right" id="datepicker"
                          formControlName="DATA_ACOLHIMENTO">
                      </div>
                    </salv-input-container>
                    <br>
                  </div>
                </div>
              </div>
              <!--OUTROS FINAL-->
              <!--BOTÃO-->

            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="editarResidente(novoResidenteForm.value)"
            data-dismiss="modal">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIM MODAL EDITAR RESIDENTE -->