<div class="table-responsive">
  <table class="table no-margin">
    <thead>
      <tr>
        <th>Residente</th>
        <th>Idade</th>
        <th>Data Nascimento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aniversariante of aniversariantes">
        <td>
          <i class="fa fa-birthday-cake" style="margin-right: 10px;"></i>
          {{aniversariante.NOME}} {{aniversariante.SOBRENOME}}
        </td>
        <td>
          {{aniversariante.IDADE}} anos
        </td>
        <td>
          <span class="label label-success">
            {{aniversariante.DATA_NASCIMENTO}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>