<aside class="main-sidebar" *ngIf="showSidebar">
  <section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Seções</li>

      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']"><i
            class="fa fa-home"></i> <span>Início</span></a></li>

      <li routerLinkActive="active"><a [routerLink]="['/residentes']"><i class="fa fa-users"></i>
          <span>Residentes</span></a></li>

      <li routerLinkActive="active"><a [routerLink]="['/convenios']"><i class="fa fa-heartbeat"></i>
          <span>Convênios</span></a></li>

      <li routerLinkActive="active"><a [routerLink]="['/acompanhamentos']"><i class="fa fa-book"></i>
          <span>Acompanhamentos</span></a></li>

      <li routerLinkActive="active"><a [routerLink]="['/funcionarios']"><i class="fa fa-address-card	
        "></i> <span>Funcionários</span></a></li>

    </ul>
  </section>
</aside>